@import "../css/mixin.scss";
@import "../css/variables.scss";
// Screen Sizes
$breakpoints:(
    'xs': 320px,
    "sm": 480px,
    "lsm": 575px,
    "md": 768px,
    "lg": 993px,
    "xl": 1280px,
);
// Screen Sizes


// All Break Point Mixins
@mixin xs {
 @media (max-width: map-get($breakpoints, "xs")) {
     @content;
 }
}

@mixin sm {
    @media (max-width: map-get($breakpoints, "sm")) {
        @content;
    }
}

@mixin lsm {
    @media (max-width: map-get($breakpoints, "lsm")) {
        @content;
    }
}

@mixin md {
    @media (max-width: map-get($breakpoints, "md")) {
        @content;
    }
}

@mixin lg {
    @media (max-width: map-get($breakpoints, "lg")) {
        @content;
    }
}

@mixin xl {
    @media (max-width: map-get($breakpoints, "xl")) {
        @content;
    }
}
// All Break Point Mixins




// For Other Specific Screen Accept Above all 
@mixin breakpoint($bp:0) {
    @media (max-width: $bp) {
        @content;
    }
}
// For Other Specific Screen Accept Above all
@include breakpoint(1600px){
    // Left Side Menu Css
    .side-main-nav {
        padding: 5% 6% 0%;
        .logo {
            padding-bottom: 15px;
            img{
                width: 40%;
            }
        }
    }
    // Left Side Menu Css

    
}


@include breakpoint(1530px){
    // Left Side Menu Css
    .side-main-nav {
        padding: 4% 6% 0%;
        .logo {
            padding-bottom: 21px;
            img{
                width: 40%;
            }
        }
        .covid-response {
            font-size: 0.9rem;
            padding: 9px 22px;
            margin-top: 10px;
        }
        .menu-coll-inner{
            .main-menu{
                li{
                    padding: 8px 0;
                }
            }
        }
    }
    // Left Side Menu Css

    .previous-comments {
        .previous-left {
            padding: 0 23px 23px;        
            .convo-head-md{
                 font-size: 2rem;
            }
            .play-icon-box{
                left: 83%;
            }
        }
    }
}

@include breakpoint(1366px){
    // Left Side Menu Css
    .side-main-nav {
        padding: 4% 4% 0%;
        .logo {
            padding-bottom: 6px;
            img {
                width: 40%;
            }
        }
        .covid-response {
            font-size: 0.9rem;
            padding: 8px 20px;
            margin-top: 6px;
        }
        .menu-coll-inner{
            .main-menu{
                li{
                    padding: 6px 0;
                }
            }
        }
    }
    // Left Side Menu Css


}
@include breakpoint(1280px){
    .previous-comments{
        .previous-left{
            padding: 0 11px 23px;
            .play-icon-box{
                width: 75px;
                height: 75px;
                left: 85%;
            }
        }
        .comment-row{
    
            .previous-comments-content{
                &:after {
                    right: -63%;
                }
           }
        }
    } 

    .main-menu a {
        font-size: 0.8rem;
    }
    .side-main-nav .menu-coll-inner .main-menu li {
        padding: 2px 0;
    }
}

@include breakpoint(1200px){
    .side-main-nav .cooming-soon-btn span {
        font-size: 13px;
    }
    .side-main-nav .cooming-soon-btn {
        width: 193px;
    }
    .side-main-nav.navbar-expand-lg{
        // padding: 2% 2% 2%;
        // display: flex;
        // align-items: center;
        .logo {
            padding-bottom: 0;
            img {
                width: 24%;
            }
        }
        div#navbarSupportedContent {
            align-items: center;
            .menu-coll-inner {
                // display: flex;
                // align-items: center;
                .main-menu {
                    // padding: 11px 19px 0 0;
                    // display: flex;
                    // justify-content: space-between;
                    li {
                        margin-right: 10px;
                        a {
                            font-size: 0.75rem;
                        }
                    }
                }
                .covid-response {
                    font-size: 1rem;
                    margin-top: 0;
                    padding: 7px 11px;
                }
            }
        }
    }
   
    .inner-banner{
        padding: 154px 0;
    }

    .graduation-para{
        .miles-count{
            &::after {
                width: 48px;
            }
        }
    } 

    .graduation-miles-banner{
        .banner-cont-grad {
            .banner-title {
                font-size: 64px !important;
                line-height: 64px !important;
            }

        }
    }

    .registaion-form-area.regalia{
            .rgist-box {
                margin-right: 21px;
            }
    } 
    
    .registaion-form-area.award-graduation{
        .brder-around{
            // width: 257px;
            left: 20px;
            // height: 317px;
        }
        .rgist-box{
           margin-right: 0;
            .madel-btch{
                width: 21%;
            }
       }
    }
    .previous-comments{
        .previous-left{
            .play-icon-box{
                width: 65px;
                height: 66px;
                left: 87%;
            }
        }
        .comment-row{
    
            .previous-comments-content{
                &:after {
                   display: none;
                }
           }
        }
    } 

    .remember-dates-area{
        .remember-dates-are-in{
            h1{
                font-size: 1.5rem;
            }
        }
    }
    
}

@include breakpoint(1025px){
    .side-main-nav.navbar-expand-lg {
        padding: 2% 1% 2%;
        display: flex;
        align-items: center;
    }
    .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .covid-response {
        font-size: 0.8rem;
        margin-top: 0;
        padding: 7px 6px;
    }
    .covid-response img {
        width: 25px;
    }
   
}

@include lg{
    // Left Side Menu Css
    .side-main-nav {
        padding: 2% 5% 2%;
        display: block !important;
        .logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 0;
            width: 100%;
            img{
                width: 16% !important;
            }
        }
        
        .navbar-collapse{
            .menu-coll-inner{
                display: block !important;
                .main-menu{
                    display: block !important;
                    li{
                        padding: 6px 0;
                    }
                }
            }
        }
        .covid-response{
            padding: 9px 11px;
            margin-bottom: 13px;
        }
    }
    // Left Side Menu Css
    
    // Previouse Comments
    .previous-comments{
        .previous-comments-content{
            width: 98% !important;
        }
        .previous-left{
            .play-icon-box{
                img{
                    width: 45px;
                    transform: translateX(3px);
                }
            }
            padding: 110px 24px 40px;
            h2{
                font-size: 26px !important;
            }
            .convo-head-md{
                // font-size: 2.55rem;
                padding-bottom: 0px;
            }
            // .convo-head-lsm.convo-head-lg{
            //     font-size: 70px !important;
            //     line-height: 70px;
            // }
           
        }
        .seprator-prev{
            display: none;
        }
        
    }
    // Previouse Comments

    // Division Box 
    .division-box{
        padding: 53px 0;
        .division-img{
            &::before{
                background-size: 75%;
                top: -60px;
                right: -36px;
            }
        }
    }
    // Division Box

    .collapse#navbarSupportedContent:not(.show) {
        display: none !important;
    }
    .navbar-expand-lg .navbar-toggler {
        display: flex !important;
    }
    .full-menu .overlay .covi-btn {
        margin-top: 9px;
    }
    .full-menu .overlay nav {
        justify-content: flex-start;
        padding-left: 30px;
    }
    .full-menu .overlay.open li {
        justify-content: flex-start;
    }
    .full-menu .overlay ul li a {
        font-size: 2.5rem;
    }
    .full-menu .overlay ul li a {
        text-align: left;
    }
    .full-menu .overlay {
        width: 86%;
    }

      // Modal Css
      .dsse-final-showcase .modal .modal-dialog {
        max-width: 75% !important;
        width: 75%;
        margin: 0;
    }
      // Modal Css

    
}

@include md{
    section.insta-feed-area {
        padding: 30px 0 40px;
    }
    .sec-heading {
        padding-bottom: 27px;
    }
    .graduation-para.event-area .padtb-set {
        padding-top: 35px;
        padding-bottom: 25px;
    }
    .graduation-para.event-area .gradua-event-list {
        padding-top: 2px;
    }
    .para-mob-scrol {
        overflow-y: auto;
        height: 160px;
        // border: 1px solid;
        padding: 10px 0px;
    }
    ::-webkit-scrollbar {
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
      background: $theme-color-dark; 
      border-radius: 10px;
    }
    .time-ceremony::before {
       display: none;
    }
    .time-ceremony{
        padding-left: 0px;
        color: #a08aa4f5;
    }
    .time-ceremony.date-time{
        display: none;
    }
    
    .graduation-para.event-area .gradua-event-list li {
        width: 100% !important;
        flex-direction: column;
    }
    .text-ceremony {
        width: 100% !important;
    }
    .full-menu .overlay .covi-btn {
        margin-top: 10px;
    }
    .previous-comments .comment-row {
        padding: 10px 0 0px 20px;
    }
    // Left Side Menu Css
    .side-main-nav {
        padding: 2% 4% 2% !important;
        .logo{
            img{
                width: 17% !important;
            }
        }
    }
    // Left Side Menu Css

    // Previouse Comments
    .previous-comments{
        .comment-row{
            .social-item{
                display: none;
            }
        }
        .previous-left{
            padding: 60px 17px 20px;
            // .convo-head-md{
            //     font-size: 2.1rem !important;
            //     padding-bottom: 0px;
            // }
            .convo-head-lg {
                font-size: 22px !important;
            }
            .play-icon-box {
                width: 60px;
                height: 58px;
                left: 87%;
                line-height: 22px;
            }
            .play-icon{
                bottom: 62px;
            }
        }
        .previous-comments-content{
            padding: 0;
            width: 64%;
            &:after {
                display: none;
            }
        }
    }
    // Previouse Comments


    // Division Box
    .division-box{
        overflow: hidden;
        .division-img{
            &::before{
                background-size: 65%;
                top: 60px;
                right: -36px;
                height: 500px;
                width: 580px;
            }
        }
            padding: 23px 0;
    }
    .division-box.graduate-box{
        .divsion-content{
            margin-top: 20px;
            p{
                br{
                    display: none;
                }
            }
            h3{
                font-size: 1.55rem;
            }
        }
    }
    // Division Box


    // Remember Dates Area
    .remember-dates-area{
        margin: 0;
        .remember-dates-are-in{
            h1{
                display: none;
                font-size: 1.8rem;
                text-align: center;
                top: 0;
            }
        }
        .graduation-ceremony{
            padding: 5% 4% !important;
            h2{
                font-size: 1.5rem !important;
            }
            h4{
                font-size: 1.2rem !important;
            }
            .ceremony-list{
                width: 100% !important;
            }
        }
        .cermony-img-parent{
            position: initial !important;
        }
        .cermony-img-parent{
            h1{
                display: block !important;
                text-align: center !important;
                margin: 0;
                font-size: 2rem !important;
                padding: 21px 0 20px !important;
            }
            .cermony-img{
                &::before{
                 display: none;
                }
            }
        }
    }
    // Remember Dates Area

    // Next Generation
    .next-genration{
        padding: 13px 0 13px;
        .sec-heading{
            padding-bottom: 20px;
            h1{
                font-size: 2rem;
            }
        }
        .coomon-responsove-slider{
            margin: 0;
        }
        .generation-box-parent{
            width: 100%;
            .generation-box{
                margin-bottom: 15px;
                &::before{
                    display: none;
                }
                .gene-content{
                    padding: 10px 18px 8px;
                    p{
                        padding-top: 0px;
                    }
                    h3{
                        margin: 0;
                    }
                }
            }
        }
    }
    // Next Generation    

    .inner-banner {
        padding: 94px 0;
        .iner-baner--content{
            h1{
                font-size: 55px;
                line-height: initial;
                span{
                    font-size: 36px;
                }
            }
        }
    }


    .sec-heading{
        p{
            font-size: 1.1rem;
            br{
                display: none;
            }
        }
    } 
    .full-menu {
        .overlay{
            ul{
                li{
                    a{
                        font-size: 2rem;
                    }
                }
            }
            .covi-btn{
                margin-right: 21px;
            }
        }
    }


    .graduation-miles-banner{
        .banner-cont-grad{
            justify-content: center;
            .banner-title {
                font-size: 35px !important;
                line-height: 43px !important;
                span {
                    font-size: 55px;
                }
            }
        } 
    }

    .graduation-miles-banner.conv-spea-banner{
        .banner-cont-grad{
            justify-content: flex-start;
            padding-bottom: 14px;
        } 
    }
    .graduation-para.event-area h5 {
        font-size: 1.3rem;
    }
    .graduation-para{
        h5 {
            font-size: 0.75rem;
        }
        .miles-count{
            &::after {
               display: none;
            }
        }
        .padb-set {
            padding-bottom: 45px;
            padding-top: 0;
        }
        strong{
            font-size: 13px;
        }
        .program-box{
            padding: 5px 10px;
        }
        h1 {
            font-size: 56px;
            line-height: 33px;
        }
    } 
   
    .padtb-set {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .registaion-form-area{
        .rgist-box.anthem-box {
            padding: 0 0;
            &::after {
                bottom: -1px;
                right: 0;
                background-size: 23%;
            }
        }
    }
    .announcement-area {
        .anoun-list-item {
            flex-direction: column; 
            .anoun-cont-iner {
                width: 100%;
                .anoun-item-content{
                    margin-left: 25px;
                }
            }
            .detail-btn {
                display: flex;
                .cooming-soon-btn{
                    width: 151px;
                    margin-right: 10px;
                }
            }
        }
    }

    .registaion-form-area.regalia{
        .rgist-box {
            margin-right: 0;
            &::before{
                display: none;
            }
            &::after{
                right: -10px;
            }
        }
    }  
    .owl-carousel{
        margin: 0 !important;
    }  
    .registaion-form-area.award-graduation{
        .rgist-box{
           .madel-btch {
                width: 16%;
                right: 5px;
            }
       }
    }

    .registaion-form-area.award-graduation{
        .brder-around {
            width: 86%;
            left: 20px;
            height: 92%;
            top: 0;
        }
        .rgist-box{
            // margin-right: 10px;
            .cropped-icon{
                width: auto;
            }     
        }
        .owl-stage{
             padding-bottom: 40px;
        }
    }  


    .graduate-area{
        padding: 70px 0 80px;
        .grdaute-heading {
            display: none;
           
        }
    }
  
    .insta-feed-area{
        .insta-js-feeds{
            .ig_feed_container{
                .ig_post_container{
                    width: 100%;
                    margin-right: 1%;
                    box-shadow: 0px 0px 11px 1px #ccc6;
                    padding: 10px;
                    margin-bottom: 19px;
                }
            }
        }
    }
        // Modal Css
        .dsse-final-showcase .modal .modal-dialog {
            max-width: 83% !important;
            width: 83%;
            margin: 0;
        }
        ol.carousel-indicators.list-inline {
            display: none;
        }
       
        .graduation-para.event-area .gradua-event-list li .text-ceremony a {
            color: #5d2468;
            display: flex;
            align-items: center;
        }
        // Modal Css
}

@include lsm{
       // Modal Css
       .dsse-final-showcase .modal .modal-dialog {
        max-width: 100% !important;
        width: 100%;
    }
    .dsse-final-showcase .carousel-item::after {
        top: 0 !important;
    }
    .dsse-final-showcase .carousel-item .caption-content {
        position: initial;
        height: 231px;
    }
    .dsse-final-showcase .carousel-item .caption-content p {
        color: #000;
        background: #fff;
        position: relative;
        z-index: 1;
        padding: 10px 4px;
    }
    .dsse-final-showcase .modal-content {
        padding: 4px;
    }
    .dsse-final-showcase .carousel-item-click a {
        top: 27%;
    }
    .dsse-final-showcase .carousel-item::after {
        background: none;
    }
    ol.carousel-indicators.list-inline {
        display: none;
    }
    // .dsse-final-showcase .carousel-item .caption-content {
    //     display: none;
    // }
    .graduation-para.event-area .gradua-event-list li .text-ceremony a {
        color: #5d2468;
        display: flex;
        align-items: center;
    }
    // Modal Css

    .cermony-cont .owl-nav button img {
        width: 10px !important;
    }
    .remember-dates-area .remember-dates-are-in .count-slider-item {
        font-weight: 500;
        font-size: 16px;
    }

    .btn-respon {
        display: block !important;
        bottom: 12px;
        top: unset !important;
        transform: translateX(-50%);
        left: 50%;
        right: unset !important;
        width: 193px;
        position: fixed !important;
        background: #461a55 !important;
        padding: 0 10px !important;
    }
    .btn-desck {
        display: none !important;
    }
    .side-main-nav .cooming-soon-btn span img {
        display: block;
    }
    .rgist-box.h-set{
        height: 327px !important;
    }
    .slider-wraperr .timmer-inner {
        bottom: 48px;
    }
    .sec-heading {
        padding-bottom: 10px;
    }
    .side-main-nav .cooming-soon-btn {
        width: 190px;
    }
    .main-slider .owl-stage-outer::after {
        // background: linear-gradient(0deg, #5d2468 -88%, rgba(255, 255, 255, 0) 80%);
        background-image: url(../img/overlay.png);
        background-size: cover;
    }
    .timmer-inner{
        .timer-top{
            width: 95% !important;
            li{
                height: 42px;
                &:after{
                    right: 7px !important;
                    height: 45px !important;
                }
                h1{
                    font-size: 47px !important;
                    sup{
                        font-size: 16px !important;
                        top: -17px !important;
                    }
                    span{
                        font-size: 15px !important;
                        right: -31px !important;
                        top: -28px !important;
                    }
                }
                p{
                    font-size: 15px !important;
                    line-height: 19px !important;
                    strong{
                        display: block;
                        font-size: 19px !important;
                    }
                    // span{
                    //     position: relative;
                    //     left: 13px;
                    // }
                }
            }
        }
        .flip-timer{
            padding: 25px 0 0 !important;
            #custom-timer{
                .timer-box{
                    margin-right: 22px !important;
                    &:last-child{
                       margin-right: 0 !important;
                    }
                    .timer-time{
                        font-size: 38px !important;
                        width: auto !important;
                        height: auto !important;
                        line-height: 18px;
                        &:after{
                            right: -14px !important;
                            font-size: 25px !important;
                        }
                        
                    }
                    .timer-text{
                        font-size: 12px !important;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .side-nav-404 {
        height: auto;
    }
    .page-not-found{
        height: 100vh;
    }
    .page-not-found p {
        padding: 0 10%;
    }
    .full-menu .overlay .covi-btn {
        margin-top: 9px;
    }
    
    // Slider
    .main-slider{
        
        .slider-item {
            .slider-img{
                display: none;
            }
            .res-slid{
                display: block;
            }
        }
    }
    // Slider


    // Left Side Menu Css
    .side-main-nav {
        padding: 2% 4% 2% !important;
        .logo{
            img{
                width: 23%;
            }
        }
    }
    // Left Side Menu Css
    .para-mob-scrol {
        overflow-y: initial;
        height: auto;
        padding: 2px 0px;
    }
    // Previouse Comments
    .previous-comments{
        padding: 10px 0;
        .previous-left{
            padding: 210px 40px 15px;
            justify-content: space-around;
            h2{
                padding: 0;
            }
            .convo-head-md {
                font-size: 2.2rem !important;
            }
            .play-icon{
                bottom: 33px;
                right: 105px;
                img{
                    width: 72%;
                }
            }
        }
        .comment-row{
            align-items: flex-start;
            flex-direction: column; 
            padding: 0px 0 0px 14px;
            .previous-comments-content{
                width: 100%;
            }
        }
      
    
    }
    // Previouse Comments
    .division-box{
        .division-img{
            display: flex;
            justify-content: center;
            padding-top: 14px;

            &::before{
                display: none;
            }
            img{
                width: auto;
            }
        }
    }

    // Next Generation 
    .next-genration{
        .sec-heading{
            padding-bottom: 20px;
            h1{
                font-size: 2rem;
            }
        }
        .coomon-responsove-slider{
            margin: 0;
        }
        .generation-box-parent{
            width: 100%;
            .generation-box{
                margin-bottom: 0;
                &::before{
                    display: none;
                }
                .gene-content{
                    padding: 0 16px 16px;
                    height: 100%;
                    p{
                        padding-top: 0;
                        line-height: 22px;
                    }
                    h3{
                        font-size: 1.25rem;
                        margin: 0;
                    }
                }
            }
        }
    }
    // Next Generation 

    // Division Box
    .division-box.graduate-box{
        .divsion-content{
            text-align: center;
            @include FlexDirAligJus($d-flex, $fl-di-co, $al-it-ce, $ju-co-ce);
            // margin-bottom: 32px;
        }
    }
    // Division Box

    .inner-banner {
        padding: 54px 0;
        .iner-baner--content{
            h1{
                font-size: 45px;
                span{
                    font-size: 27px;
                }
            }
        }
    }
    
    .sec-heading{
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
            br{
                display: none;
            }
        }
    } 

    .padt-set{
        padding-top: 32px;
        padding-bottom: 0;
    }
    .padb-set{
        padding-bottom: 32px;
        padding-top: 0;
    }
    .padtb-set{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .inner-pages-wraper{
        .division-box{
            .col-lg-6{
                justify-content: center;
            }
        } 
    }

    .fl-di-co-re{
        flex-direction: $fl-di-co-re;
    }
  
    
    .graduation-para{
        strong{
            font-size: 12px;
        }
        .program-box{
            padding: 5px 7px;
            height: 38px;
        }
    } 

    .graduation-miles-banner.registraion-banner .banner-cont-grad .banner-title {
        font-size: 33px;
        line-height: 53px;
        span{
            display: inline;
        }
    }
    .registaion-form-area.award-graduation{
        padding: 28px 0 40px;
        .brder-around {
           display: none;
        }
        .rgist-box{
            // margin-right: 10px;
            left: 0;
            h4{
                padding-right: 20%;
                br{
                    display: none;
                }
            }
            p{
                padding-right: 12%;
                br{
                    display: none;
                }
            }
            .cropped-icon{
                width: auto;
            }     
        }
    }  

    section.insta-feed-area {
        padding: 17px 0 40px;
    }
    header.full-menu:after {
        content: '';
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
        background: #fff;
        z-index: 9;
    }
    header.full-menu {
        position: relative;
    }
    .graduation-miles-banner{
        padding: 100px 0 60px;
        .banner-cont-grad{
            justify-content: center;
            .banner-title {
                font-size: 21px !important;
                line-height: 30px !important;
                span {
                    font-size: 34px;
                }
            }
        } 
    }

    // Inner Video
.inner-pages-wraper{
    padding-top: 30px;
    .main-iner-video {
        .video-banner{
            .inner-res-banner{
                display: block;
            }
            .iner-banner{
                display: none;
            }
        }
    }
}
// Inner Video


.previous-comments{
    .previous-left{
        h2{
            font-size: 20px !important;
        }
                   
    }
    .comment-row{
        .social-item{
            display: none;
            h5{
               margin-right: 11px;
            }
        }
        .year-abstracts{
            li{
                a{
                  font-size: 1.2rem !important;
                }
            } 
        }
    }
    
}
.main-slider-area{
    .register-btn {
        border: 1px solid #fff;
        padding: 0px 17px;
        font-size: 14px;
    }
}

}


@include sm{
    video[poster] {
        height: 280px;
    }
    .flip-timer {
        padding: 11px 16px 9px;
    }
    
    
    .modal{
        .close {
            background: #fff;
            opacity: 1;
            padding: 3px 8px;
        }
        .popup-cotent {
            flex-direction: column;
            .popup-img-cotent {
                width: 100%;
                margin-bottom: 15px;
                img {
                    width: 100%;
                }
            }
            .modal-right-content {
                width: 100%;
                p{
                    height: 120px;
                    overflow-y: auto;
                }
                
            }
        }
    }
    .full-menu .overlay .covi-btn {
        margin-top: 0;
    }
    .full-menu .overlay ul {
        padding: 0 0 0 7px;
    }
    .full-menu .overlay nav {
        justify-content: flex-start;
        padding-left: 10px;
    }
    
    html{
        font-size: 14px;
        p{
            font-size: 1rem !important;
            line-height: initial !important;
        }
    }

    .main-slider{
        .owl-dots {
            z-index: 999;
            position: relative;
            margin: 8px auto 0 !important;
            span {
                background: transparent !important;
                border: 1px solid #fff !important;
            }
        }
        .slider-item{
            .play-icon-box {
               width: 69px;
               height: 69px;
               img {
                width: 55%;
              }
           }
        }
    }
    // Left Side Menu Css
    .side-main-nav {
        padding: 2% 4% 2% !important;
    }
    // Left Side Menu Css
  


    // Previouse Comments
    .previous-comments{
        .previous-left{    
            justify-content: space-between;
            display: none;
            .play-icon {
                bottom: 11px;
                right: 43px;s
                img {
                    width: 71%;
                }
            }
        }
        .previous-comments-content{
            p {
                line-height: 23px;
            }
            .year-abstracts{
                li{
                    a{
                        font-size: 1.25rem;
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
            
        }
     
    }
    // Previouse Comments

    // Division Box
    .division-box{
        .division-img{
            img{
                width: 100% !important;
            }
        }
    }
    // Division Box


    .inner-banner {
        padding: 54px 0;
        .iner-baner--content{
            h1{
                font-size: 35px;
                span{
                    font-size: 23px;
                }
            }
        }
    }

    .full-menu {
        .overlay{
            ul{
                li{
                    a{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .graduation-para{
        .program-box{
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    } 


    .graduation-miles-banner.registraion-banner{
        .banner-cont-grad {
            .banner-title {
                font-size: 41px !important;
                line-height: 45px !important;
            }
        }
    }
   
    .para-area .sec-heading {
        padding: 69px 0 0;
    }
    .registaion-form-area {
        padding: 40px 0 0;
    }

    
    .announcement-area {
        .anoun-list-item {
            flex-direction: column; 
            .anoun-cont-iner {
                flex-direction: column;
                text-align: center;
                .anoun-item-content{
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
            .detail-btn {
                display: flex;
                flex-direction: column;
                .cooming-soon-btn{
                    width: 151px;
                    margin-right: 10px;
                }
            }
        }
    }

    .graduation-events{
        
    .row:nth-child(2), .row:nth-child(3){
        .event-gradu-boxes{
            .event-box{
                span{
                    width: 100%;
                }
            }
        }
    }
        .event-gradu-boxes{
            .event-box {
                flex-wrap: wrap;
                text-align: center;
                border: 1px solid $theme-color-dark;
                margin-bottom: 10px;
                span{
                    width: 100%;
                    padding: 10px 0;
                }
            }
        }
    }

 
    .next-genration{
        .generation-box-parent{
            .generation-box{
                .gene-content{
                    padding: 80px 16px 16px;
                    height: 100%;
                  
                }
            }
        }
    }
    .full-menu .overlay ul li a span {
        font-weight: 400;
        -webkit-text-stroke-width: initial;
        -webkit-text-stroke-color: #fff;
        -webkit-text-fill-color: #fff;
    }
    .full-menu .overlay ul li a {
        font-size: 1rem;
    }
    .full-menu .overlay ul li {
        min-height: 43px;
    }
}

@include xs{
    .full-menu .overlay .covi-btn {
        margin-top: 6px !important;
        margin-right: 11px;
    }
    .full-menu .overlay ul li a {
        font-size: 1rem;
    }
    .full-menu .overlay .covi-btn .cooming-soon-btn {
        width: 196px;
    }
   
    
    // Left Side Menu Css
    .side-main-nav {
        padding: 7% 7% 7%;
    }
    // Left Side Menu Css

    // Previouse Comments
    .previous-comments{
        .previous-left{
            h2{
                font-size: 20px !important;
            }
            .convo-head-md{
                font-size: 2.1rem;
                padding-bottom: 0px;
            }

            .play-icon{
                right: 22px;
            }                
        }
        .comment-row{
            .social-item{
               display: none;
                h5{
                   margin-right: 11px;
                }
            }
            .year-abstracts{
                li{
                    a{
                      font-size: 1.2rem !important;
                    }
                } 
            }
        }
        
    }
    // Previouse Comments

    .graduation-miles-banner .banner-cont-grad .banner-title {
        font-size: 22px;
    }
    .full-menu {
        .button_container {
            top: 3%;
        }
        .overlay{
            .covi-btn {
                margin-top: 10px;
                margin-right: 11px;
            }
        }
    }


    .registaion-form-area.award-graduation{
        .rgist-box{
            // height: 322px;
            p{
                padding-right: 0%;
            }
            h4{
                padding-right: 12%;
            }
        }
    }  

    
}



