.banner-18 {
  background-image: url(../img/bg/banner-18.jpg);
}

.banner-19 {
  background-image: url(../img/bg/banner-19.jpg);
}

.banner-20 {
  background-image: url(../img/bg/banner-20.jpg);
}

.banner-21 {
  background-image: url(../img/bg/banner-21.jpg);
}

.banner-22 {
  background-image: url(../img/bg/banner-22.jpg);
}

.banner-23 {
  background-image: url(../img/bg/banner-23.jpg);
}

.banner-24 {
  background-image: url(../img/bg/banner-24.jpg);
}

.banner-25 {
  background-image: url(../img/bg/banner-25.jpg);
}

.banner-26 {
  background-image: url(../img/bg/banner-26.jpg);
}

.banner-27 {
  background-image: url(../img/bg/banner-27.jpg);
}

.banner-28 {
  background-image: url(../img/bg/banner-28.jpg);
}

.banner-29 {
  background-image: url(../img/bg/banner-29.jpg);
}

@media (max-width: 1600px) {
  .side-main-nav {
    padding: 5% 6% 0%;
  }
  .side-main-nav .logo {
    padding-bottom: 15px;
  }
  .side-main-nav .logo img {
    width: 40%;
  }
}
@media (max-width: 1530px) {
  .side-main-nav {
    padding: 4% 6% 0%;
  }
  .side-main-nav .logo {
    padding-bottom: 21px;
  }
  .side-main-nav .logo img {
    width: 40%;
  }
  .side-main-nav .covid-response {
    font-size: 0.9rem;
    padding: 9px 22px;
    margin-top: 10px;
  }
  .side-main-nav .menu-coll-inner .main-menu li {
    padding: 8px 0;
  }

  .previous-comments .previous-left {
    padding: 0 23px 23px;
  }
  .previous-comments .previous-left .convo-head-md {
    font-size: 2rem;
  }
  .previous-comments .previous-left .play-icon-box {
    left: 83%;
  }
}
@media (max-width: 1366px) {
  .side-main-nav {
    padding: 4% 4% 0%;
  }
  .side-main-nav .logo {
    padding-bottom: 6px;
  }
  .side-main-nav .logo img {
    width: 40%;
  }
  .side-main-nav .covid-response {
    font-size: 0.9rem;
    padding: 8px 20px;
    margin-top: 6px;
  }
  .side-main-nav .menu-coll-inner .main-menu li {
    padding: 6px 0;
  }
}
@media (max-width: 1280px) {
  .previous-comments .previous-left {
    padding: 0 11px 23px;
  }
  .previous-comments .previous-left .play-icon-box {
    width: 75px;
    height: 75px;
    left: 85%;
  }
  .previous-comments .comment-row .previous-comments-content:after {
    right: -63%;
  }

  .main-menu a {
    font-size: 0.8rem;
  }

  .side-main-nav .menu-coll-inner .main-menu li {
    padding: 2px 0;
  }
}
@media (max-width: 1200px) {
  .side-main-nav .cooming-soon-btn span {
    font-size: 13px;
  }

  .side-main-nav .cooming-soon-btn {
    width: 193px;
  }

  .side-main-nav.navbar-expand-lg .logo {
    padding-bottom: 0;
  }
  .side-main-nav.navbar-expand-lg .logo img {
    width: 24%;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent {
    align-items: center;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .main-menu li {
    margin-right: 10px;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .main-menu li a {
    font-size: 0.75rem;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .covid-response {
    font-size: 1rem;
    margin-top: 0;
    padding: 7px 11px;
  }

  .inner-banner {
    padding: 154px 0;
  }

  .graduation-para .miles-count::after {
    width: 48px;
  }

  .graduation-miles-banner .banner-cont-grad .banner-title {
    font-size: 64px !important;
    line-height: 64px !important;
  }

  .registaion-form-area.regalia .rgist-box {
    margin-right: 21px;
  }

  .registaion-form-area.award-graduation .brder-around {
    left: 20px;
  }
  .registaion-form-area.award-graduation .rgist-box {
    margin-right: 0;
  }
  .registaion-form-area.award-graduation .rgist-box .madel-btch {
    width: 21%;
  }

  .previous-comments .previous-left .play-icon-box {
    width: 65px;
    height: 66px;
    left: 87%;
  }
  .previous-comments .comment-row .previous-comments-content:after {
    display: none;
  }

  .remember-dates-area .remember-dates-are-in h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1025px) {
  .side-main-nav.navbar-expand-lg {
    padding: 2% 1% 2%;
    display: flex;
    align-items: center;
  }

  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .covid-response {
    font-size: 0.8rem;
    margin-top: 0;
    padding: 7px 6px;
  }

  .covid-response img {
    width: 25px;
  }
}
@media (max-width: 993px) {
  .side-main-nav {
    padding: 2% 5% 2%;
    display: block !important;
  }
  .side-main-nav .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    width: 100%;
  }
  .side-main-nav .logo img {
    width: 16% !important;
  }
  .side-main-nav .navbar-collapse .menu-coll-inner {
    display: block !important;
  }
  .side-main-nav .navbar-collapse .menu-coll-inner .main-menu {
    display: block !important;
  }
  .side-main-nav .navbar-collapse .menu-coll-inner .main-menu li {
    padding: 6px 0;
  }
  .side-main-nav .covid-response {
    padding: 9px 11px;
    margin-bottom: 13px;
  }

  .previous-comments .previous-comments-content {
    width: 98% !important;
  }
  .previous-comments .previous-left {
    padding: 110px 24px 40px;
  }
  .previous-comments .previous-left .play-icon-box img {
    width: 45px;
    transform: translateX(3px);
  }
  .previous-comments .previous-left h2 {
    font-size: 26px !important;
  }
  .previous-comments .previous-left .convo-head-md {
    padding-bottom: 0px;
  }
  .previous-comments .seprator-prev {
    display: none;
  }

  .division-box {
    padding: 53px 0;
  }
  .division-box .division-img::before {
    background-size: 75%;
    top: -60px;
    right: -36px;
  }

  .collapse#navbarSupportedContent:not(.show) {
    display: none !important;
  }

  .navbar-expand-lg .navbar-toggler {
    display: flex !important;
  }

  .full-menu .overlay .covi-btn {
    margin-top: 9px;
  }

  .full-menu .overlay nav {
    justify-content: flex-start;
    padding-left: 30px;
  }

  .full-menu .overlay.open li {
    justify-content: flex-start;
  }

  .full-menu .overlay ul li a {
    font-size: 2.5rem;
  }

  .full-menu .overlay ul li a {
    text-align: left;
  }

  .full-menu .overlay {
    width: 86%;
  }

  .dsse-final-showcase .modal .modal-dialog {
    max-width: 75% !important;
    width: 75%;
    margin: 0;
  }
}
@media (max-width: 768px) {
  section.insta-feed-area {
    padding: 30px 0 40px;
  }

  .sec-heading {
    padding-bottom: 27px;
  }

  .graduation-para.event-area .padtb-set {
    padding-top: 35px;
    padding-bottom: 25px;
  }

  .graduation-para.event-area .gradua-event-list {
    padding-top: 2px;
  }

  .para-mob-scrol {
    overflow-y: auto;
    height: 160px;
    padding: 10px 0px;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    background: #5d2468;
    border-radius: 10px;
  }

  .time-ceremony::before {
    display: none;
  }

  .time-ceremony {
    padding-left: 0px;
    color: #a08aa4f5;
  }

  .time-ceremony.date-time {
    display: none;
  }

  .graduation-para.event-area .gradua-event-list li {
    width: 100% !important;
    flex-direction: column;
  }

  .text-ceremony {
    width: 100% !important;
  }

  .full-menu .overlay .covi-btn {
    margin-top: 10px;
  }

  .previous-comments .comment-row {
    padding: 10px 0 0px 20px;
  }

  .side-main-nav {
    padding: 2% 4% 2% !important;
  }
  .side-main-nav .logo img {
    width: 17% !important;
  }

  .previous-comments .comment-row .social-item {
    display: none;
  }
  .previous-comments .previous-left {
    padding: 60px 17px 20px;
  }
  .previous-comments .previous-left .convo-head-lg {
    font-size: 22px !important;
  }
  .previous-comments .previous-left .play-icon-box {
    width: 60px;
    height: 58px;
    left: 87%;
    line-height: 22px;
  }
  .previous-comments .previous-left .play-icon {
    bottom: 62px;
  }
  .previous-comments .previous-comments-content {
    padding: 0;
    width: 64%;
  }
  .previous-comments .previous-comments-content:after {
    display: none;
  }

  .division-box {
    overflow: hidden;
    padding: 23px 0;
  }
  .division-box .division-img::before {
    background-size: 65%;
    top: 60px;
    right: -36px;
    height: 500px;
    width: 580px;
  }

  .division-box.graduate-box .divsion-content {
    margin-top: 20px;
  }
  .division-box.graduate-box .divsion-content p br {
    display: none;
  }
  .division-box.graduate-box .divsion-content h3 {
    font-size: 1.55rem;
  }

  .remember-dates-area {
    margin: 0;
  }
  .remember-dates-area .remember-dates-are-in h1 {
    display: none;
    font-size: 1.8rem;
    text-align: center;
    top: 0;
  }
  .remember-dates-area .graduation-ceremony {
    padding: 5% 4% !important;
  }
  .remember-dates-area .graduation-ceremony h2 {
    font-size: 1.5rem !important;
  }
  .remember-dates-area .graduation-ceremony h4 {
    font-size: 1.2rem !important;
  }
  .remember-dates-area .graduation-ceremony .ceremony-list {
    width: 100% !important;
  }
  .remember-dates-area .cermony-img-parent {
    position: initial !important;
  }
  .remember-dates-area .cermony-img-parent h1 {
    display: block !important;
    text-align: center !important;
    margin: 0;
    font-size: 2rem !important;
    padding: 21px 0 20px !important;
  }
  .remember-dates-area .cermony-img-parent .cermony-img::before {
    display: none;
  }

  .next-genration {
    padding: 13px 0 13px;
  }
  .next-genration .sec-heading {
    padding-bottom: 20px;
  }
  .next-genration .sec-heading h1 {
    font-size: 2rem;
  }
  .next-genration .coomon-responsove-slider {
    margin: 0;
  }
  .next-genration .generation-box-parent {
    width: 100%;
  }
  .next-genration .generation-box-parent .generation-box {
    margin-bottom: 15px;
  }
  .next-genration .generation-box-parent .generation-box::before {
    display: none;
  }
  .next-genration .generation-box-parent .generation-box .gene-content {
    padding: 10px 18px 8px;
  }
  .next-genration .generation-box-parent .generation-box .gene-content p {
    padding-top: 0px;
  }
  .next-genration .generation-box-parent .generation-box .gene-content h3 {
    margin: 0;
  }

  .inner-banner {
    padding: 94px 0;
  }
  .inner-banner .iner-baner--content h1 {
    font-size: 55px;
    line-height: initial;
  }
  .inner-banner .iner-baner--content h1 span {
    font-size: 36px;
  }

  .sec-heading p {
    font-size: 1.1rem;
  }
  .sec-heading p br {
    display: none;
  }

  .full-menu .overlay ul li a {
    font-size: 2rem;
  }
  .full-menu .overlay .covi-btn {
    margin-right: 21px;
  }

  .graduation-miles-banner .banner-cont-grad {
    justify-content: center;
  }
  .graduation-miles-banner .banner-cont-grad .banner-title {
    font-size: 35px !important;
    line-height: 43px !important;
  }
  .graduation-miles-banner .banner-cont-grad .banner-title span {
    font-size: 55px;
  }

  .graduation-miles-banner.conv-spea-banner .banner-cont-grad {
    justify-content: flex-start;
    padding-bottom: 14px;
  }

  .graduation-para.event-area h5 {
    font-size: 1.3rem;
  }

  .graduation-para h5 {
    font-size: 0.75rem;
  }
  .graduation-para .miles-count::after {
    display: none;
  }
  .graduation-para .padb-set {
    padding-bottom: 45px;
    padding-top: 0;
  }
  .graduation-para strong {
    font-size: 13px;
  }
  .graduation-para .program-box {
    padding: 5px 10px;
  }
  .graduation-para h1 {
    font-size: 56px;
    line-height: 33px;
  }

  .padtb-set {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .registaion-form-area .rgist-box.anthem-box {
    padding: 0 0;
  }
  .registaion-form-area .rgist-box.anthem-box::after {
    bottom: -1px;
    right: 0;
    background-size: 23%;
  }

  .announcement-area .anoun-list-item {
    flex-direction: column;
  }
  .announcement-area .anoun-list-item .anoun-cont-iner {
    width: 100%;
  }
  .announcement-area .anoun-list-item .anoun-cont-iner .anoun-item-content {
    margin-left: 25px;
  }
  .announcement-area .anoun-list-item .detail-btn {
    display: flex;
  }
  .announcement-area .anoun-list-item .detail-btn .cooming-soon-btn {
    width: 151px;
    margin-right: 10px;
  }

  .registaion-form-area.regalia .rgist-box {
    margin-right: 0;
  }
  .registaion-form-area.regalia .rgist-box::before {
    display: none;
  }
  .registaion-form-area.regalia .rgist-box::after {
    right: -10px;
  }

  .owl-carousel {
    margin: 0 !important;
  }

  .registaion-form-area.award-graduation .rgist-box .madel-btch {
    width: 16%;
    right: 5px;
  }

  .registaion-form-area.award-graduation .brder-around {
    width: 86%;
    left: 20px;
    height: 92%;
    top: 0;
  }
  .registaion-form-area.award-graduation .rgist-box .cropped-icon {
    width: auto;
  }
  .registaion-form-area.award-graduation .owl-stage {
    padding-bottom: 40px;
  }

  .graduate-area {
    padding: 70px 0 80px;
  }
  .graduate-area .grdaute-heading {
    display: none;
  }

  .insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container {
    width: 100%;
    margin-right: 1%;
    box-shadow: 0px 0px 11px 1px #ccc6;
    padding: 10px;
    margin-bottom: 19px;
  }

  .dsse-final-showcase .modal .modal-dialog {
    max-width: 83% !important;
    width: 83%;
    margin: 0;
  }

  ol.carousel-indicators.list-inline {
    display: none;
  }

  .graduation-para.event-area .gradua-event-list li .text-ceremony a {
    color: #5d2468;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .dsse-final-showcase .modal .modal-dialog {
    max-width: 100% !important;
    width: 100%;
  }

  .dsse-final-showcase .carousel-item::after {
    top: 0 !important;
  }

  .dsse-final-showcase .carousel-item .caption-content {
    position: initial;
    height: 231px;
  }

  .dsse-final-showcase .carousel-item .caption-content p {
    color: #000;
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 10px 4px;
  }

  .dsse-final-showcase .modal-content {
    padding: 4px;
  }

  .dsse-final-showcase .carousel-item-click a {
    top: 27%;
  }

  .dsse-final-showcase .carousel-item::after {
    background: none;
  }

  ol.carousel-indicators.list-inline {
    display: none;
  }

  .graduation-para.event-area .gradua-event-list li .text-ceremony a {
    color: #5d2468;
    display: flex;
    align-items: center;
  }

  .cermony-cont .owl-nav button img {
    width: 10px !important;
  }

  .remember-dates-area .remember-dates-are-in .count-slider-item {
    font-weight: 500;
    font-size: 16px;
  }

  .btn-respon {
    display: block !important;
    bottom: 12px;
    top: unset !important;
    transform: translateX(-50%);
    left: 50%;
    right: unset !important;
    width: 193px;
    position: fixed !important;
    background: #461a55 !important;
    padding: 0 10px !important;
  }

  .btn-desck {
    display: none !important;
  }

  .side-main-nav .cooming-soon-btn span img {
    display: block;
  }

  .rgist-box.h-set {
    height: 327px !important;
  }

  .slider-wraperr .timmer-inner {
    bottom: 48px;
  }

  .sec-heading {
    padding-bottom: 10px;
  }

  .side-main-nav .cooming-soon-btn {
    width: 190px;
  }

  .main-slider .owl-stage-outer::after {
    background-image: url(../img/overlay.png);
    background-size: cover;
  }

  .timmer-inner .timer-top {
    width: 95% !important;
  }
  .timmer-inner .timer-top li {
    height: 42px;
  }
  .timmer-inner .timer-top li:after {
    right: 7px !important;
    height: 45px !important;
  }
  .timmer-inner .timer-top li h1 {
    font-size: 47px !important;
  }
  .timmer-inner .timer-top li h1 sup {
    font-size: 16px !important;
    top: -17px !important;
  }
  .timmer-inner .timer-top li h1 span {
    font-size: 15px !important;
    right: -31px !important;
    top: -28px !important;
  }
  .timmer-inner .timer-top li p {
    font-size: 15px !important;
    line-height: 19px !important;
  }
  .timmer-inner .timer-top li p strong {
    display: block;
    font-size: 19px !important;
  }
  .timmer-inner .flip-timer {
    padding: 25px 0 0 !important;
  }
  .timmer-inner .flip-timer #custom-timer .timer-box {
    margin-right: 22px !important;
  }
  .timmer-inner .flip-timer #custom-timer .timer-box:last-child {
    margin-right: 0 !important;
  }
  .timmer-inner .flip-timer #custom-timer .timer-box .timer-time {
    font-size: 38px !important;
    width: auto !important;
    height: auto !important;
    line-height: 18px;
  }
  .timmer-inner .flip-timer #custom-timer .timer-box .timer-time:after {
    right: -14px !important;
    font-size: 25px !important;
  }
  .timmer-inner .flip-timer #custom-timer .timer-box .timer-text {
    font-size: 12px !important;
    font-weight: 400;
  }

  .side-nav-404 {
    height: auto;
  }

  .page-not-found {
    height: 100vh;
  }

  .page-not-found p {
    padding: 0 10%;
  }

  .full-menu .overlay .covi-btn {
    margin-top: 9px;
  }

  .main-slider .slider-item .slider-img {
    display: none;
  }
  .main-slider .slider-item .res-slid {
    display: block;
  }

  .side-main-nav {
    padding: 2% 4% 2% !important;
  }
  .side-main-nav .logo img {
    width: 23%;
  }

  .para-mob-scrol {
    overflow-y: initial;
    height: auto;
    padding: 2px 0px;
  }

  .previous-comments {
    padding: 10px 0;
  }
  .previous-comments .previous-left {
    padding: 210px 40px 15px;
    justify-content: space-around;
  }
  .previous-comments .previous-left h2 {
    padding: 0;
  }
  .previous-comments .previous-left .convo-head-md {
    font-size: 2.2rem !important;
  }
  .previous-comments .previous-left .play-icon {
    bottom: 33px;
    right: 105px;
  }
  .previous-comments .previous-left .play-icon img {
    width: 72%;
  }
  .previous-comments .comment-row {
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 0 0px 14px;
  }
  .previous-comments .comment-row .previous-comments-content {
    width: 100%;
  }

  .division-box .division-img {
    display: flex;
    justify-content: center;
    padding-top: 14px;
  }
  .division-box .division-img::before {
    display: none;
  }
  .division-box .division-img img {
    width: auto;
  }

  .next-genration .sec-heading {
    padding-bottom: 20px;
  }
  .next-genration .sec-heading h1 {
    font-size: 2rem;
  }
  .next-genration .coomon-responsove-slider {
    margin: 0;
  }
  .next-genration .generation-box-parent {
    width: 100%;
  }
  .next-genration .generation-box-parent .generation-box {
    margin-bottom: 0;
  }
  .next-genration .generation-box-parent .generation-box::before {
    display: none;
  }
  .next-genration .generation-box-parent .generation-box .gene-content {
    padding: 0 16px 16px;
    height: 100%;
  }
  .next-genration .generation-box-parent .generation-box .gene-content p {
    padding-top: 0;
    line-height: 22px;
  }
  .next-genration .generation-box-parent .generation-box .gene-content h3 {
    font-size: 1.25rem;
    margin: 0;
  }

  .division-box.graduate-box .divsion-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inner-banner {
    padding: 54px 0;
  }
  .inner-banner .iner-baner--content h1 {
    font-size: 45px;
  }
  .inner-banner .iner-baner--content h1 span {
    font-size: 27px;
  }

  .sec-heading h1 {
    font-size: 2rem;
  }
  .sec-heading p {
    font-size: 1rem;
  }
  .sec-heading p br {
    display: none;
  }

  .padt-set {
    padding-top: 32px;
    padding-bottom: 0;
  }

  .padb-set {
    padding-bottom: 32px;
    padding-top: 0;
  }

  .padtb-set {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .inner-pages-wraper .division-box .col-lg-6 {
    justify-content: center;
  }

  .fl-di-co-re {
    flex-direction: column-reverse;
  }

  .graduation-para strong {
    font-size: 12px;
  }
  .graduation-para .program-box {
    padding: 5px 7px;
    height: 38px;
  }

  .graduation-miles-banner.registraion-banner .banner-cont-grad .banner-title {
    font-size: 33px;
    line-height: 53px;
  }
  .graduation-miles-banner.registraion-banner .banner-cont-grad .banner-title span {
    display: inline;
  }

  .registaion-form-area.award-graduation {
    padding: 28px 0 40px;
  }
  .registaion-form-area.award-graduation .brder-around {
    display: none;
  }
  .registaion-form-area.award-graduation .rgist-box {
    left: 0;
  }
  .registaion-form-area.award-graduation .rgist-box h4 {
    padding-right: 20%;
  }
  .registaion-form-area.award-graduation .rgist-box h4 br {
    display: none;
  }
  .registaion-form-area.award-graduation .rgist-box p {
    padding-right: 12%;
  }
  .registaion-form-area.award-graduation .rgist-box p br {
    display: none;
  }
  .registaion-form-area.award-graduation .rgist-box .cropped-icon {
    width: auto;
  }

  section.insta-feed-area {
    padding: 17px 0 40px;
  }

  header.full-menu:after {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 9;
  }

  header.full-menu {
    position: relative;
  }

  .graduation-miles-banner {
    padding: 100px 0 60px;
  }
  .graduation-miles-banner .banner-cont-grad {
    justify-content: center;
  }
  .graduation-miles-banner .banner-cont-grad .banner-title {
    font-size: 21px !important;
    line-height: 30px !important;
  }
  .graduation-miles-banner .banner-cont-grad .banner-title span {
    font-size: 34px;
  }

  .inner-pages-wraper {
    padding-top: 30px;
  }
  .inner-pages-wraper .main-iner-video .video-banner .inner-res-banner {
    display: block;
  }
  .inner-pages-wraper .main-iner-video .video-banner .iner-banner {
    display: none;
  }

  .previous-comments .previous-left h2 {
    font-size: 20px !important;
  }
  .previous-comments .comment-row .social-item {
    display: none;
  }
  .previous-comments .comment-row .social-item h5 {
    margin-right: 11px;
  }
  .previous-comments .comment-row .year-abstracts li a {
    font-size: 1.2rem !important;
  }

  .main-slider-area .register-btn {
    border: 1px solid #fff;
    padding: 0px 17px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  video[poster] {
    height: 280px;
  }

  .flip-timer {
    padding: 11px 16px 9px;
  }

  .modal .close {
    background: #fff;
    opacity: 1;
    padding: 3px 8px;
  }
  .modal .popup-cotent {
    flex-direction: column;
  }
  .modal .popup-cotent .popup-img-cotent {
    width: 100%;
    margin-bottom: 15px;
  }
  .modal .popup-cotent .popup-img-cotent img {
    width: 100%;
  }
  .modal .popup-cotent .modal-right-content {
    width: 100%;
  }
  .modal .popup-cotent .modal-right-content p {
    height: 120px;
    overflow-y: auto;
  }

  .full-menu .overlay .covi-btn {
    margin-top: 0;
  }

  .full-menu .overlay ul {
    padding: 0 0 0 7px;
  }

  .full-menu .overlay nav {
    justify-content: flex-start;
    padding-left: 10px;
  }

  html {
    font-size: 14px;
  }
  html p {
    font-size: 1rem !important;
    line-height: initial !important;
  }

  .main-slider .owl-dots {
    z-index: 999;
    position: relative;
    margin: 8px auto 0 !important;
  }
  .main-slider .owl-dots span {
    background: transparent !important;
    border: 1px solid #fff !important;
  }
  .main-slider .slider-item .play-icon-box {
    width: 69px;
    height: 69px;
  }
  .main-slider .slider-item .play-icon-box img {
    width: 55%;
  }

  .side-main-nav {
    padding: 2% 4% 2% !important;
  }

  .previous-comments .previous-left {
    justify-content: space-between;
    display: none;
  }
  .previous-comments .previous-left .play-icon {
    bottom: 11px;
    right: 43px;
  }
  .previous-comments .previous-left .play-icon s img {
    width: 71%;
  }
  .previous-comments .previous-comments-content p {
    line-height: 23px;
  }
  .previous-comments .previous-comments-content .year-abstracts li a {
    font-size: 1.25rem;
  }
  .previous-comments .previous-comments-content .year-abstracts li a::after {
    width: 100%;
  }

  .division-box .division-img img {
    width: 100% !important;
  }

  .inner-banner {
    padding: 54px 0;
  }
  .inner-banner .iner-baner--content h1 {
    font-size: 35px;
  }
  .inner-banner .iner-baner--content h1 span {
    font-size: 23px;
  }

  .full-menu .overlay ul li a {
    font-size: 1.5rem;
  }

  .graduation-para .program-box {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .graduation-miles-banner.registraion-banner .banner-cont-grad .banner-title {
    font-size: 41px !important;
    line-height: 45px !important;
  }

  .para-area .sec-heading {
    padding: 69px 0 0;
  }

  .registaion-form-area {
    padding: 40px 0 0;
  }

  .announcement-area .anoun-list-item {
    flex-direction: column;
  }
  .announcement-area .anoun-list-item .anoun-cont-iner {
    flex-direction: column;
    text-align: center;
  }
  .announcement-area .anoun-list-item .anoun-cont-iner .anoun-item-content {
    margin-left: 0;
    margin-top: 10px;
  }
  .announcement-area .anoun-list-item .detail-btn {
    display: flex;
    flex-direction: column;
  }
  .announcement-area .anoun-list-item .detail-btn .cooming-soon-btn {
    width: 151px;
    margin-right: 10px;
  }

  .graduation-events .row:nth-child(2) .event-gradu-boxes .event-box span, .graduation-events .row:nth-child(3) .event-gradu-boxes .event-box span {
    width: 100%;
  }
  .graduation-events .event-gradu-boxes .event-box {
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid #5d2468;
    margin-bottom: 10px;
  }
  .graduation-events .event-gradu-boxes .event-box span {
    width: 100%;
    padding: 10px 0;
  }

  .next-genration .generation-box-parent .generation-box .gene-content {
    padding: 80px 16px 16px;
    height: 100%;
  }

  .full-menu .overlay ul li a span {
    font-weight: 400;
    -webkit-text-stroke-width: initial;
    -webkit-text-stroke-color: #fff;
    -webkit-text-fill-color: #fff;
  }

  .full-menu .overlay ul li a {
    font-size: 1rem;
  }

  .full-menu .overlay ul li {
    min-height: 43px;
  }
}
@media (max-width: 320px) {
  .full-menu .overlay .covi-btn {
    margin-top: 6px !important;
    margin-right: 11px;
  }

  .full-menu .overlay ul li a {
    font-size: 1rem;
  }

  .full-menu .overlay .covi-btn .cooming-soon-btn {
    width: 196px;
  }

  .side-main-nav {
    padding: 7% 7% 7%;
  }

  .previous-comments .previous-left h2 {
    font-size: 20px !important;
  }
  .previous-comments .previous-left .convo-head-md {
    font-size: 2.1rem;
    padding-bottom: 0px;
  }
  .previous-comments .previous-left .play-icon {
    right: 22px;
  }
  .previous-comments .comment-row .social-item {
    display: none;
  }
  .previous-comments .comment-row .social-item h5 {
    margin-right: 11px;
  }
  .previous-comments .comment-row .year-abstracts li a {
    font-size: 1.2rem !important;
  }

  .graduation-miles-banner .banner-cont-grad .banner-title {
    font-size: 22px;
  }

  .full-menu .button_container {
    top: 3%;
  }
  .full-menu .overlay .covi-btn {
    margin-top: 10px;
    margin-right: 11px;
  }

  .registaion-form-area.award-graduation .rgist-box p {
    padding-right: 0%;
  }
  .registaion-form-area.award-graduation .rgist-box h4 {
    padding-right: 12%;
  }
}

/*# sourceMappingURL=breakpoints.css.map */
