@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
.banner-18 {
  background-image: url(../img/bg/banner-18.jpg);
}

.banner-19 {
  background-image: url(../img/bg/banner-19.jpg);
}

.banner-20 {
  background-image: url(../img/bg/banner-20.jpg);
}

.banner-21 {
  background-image: url(../img/bg/banner-21.jpg);
}

.banner-22 {
  background-image: url(../img/bg/banner-22.jpg);
}

.banner-23 {
  background-image: url(../img/bg/banner-23.jpg);
}

.banner-24 {
  background-image: url(../img/bg/banner-24.jpg);
}

.banner-25 {
  background-image: url(../img/bg/banner-25.jpg);
}

.banner-26 {
  background-image: url(../img/bg/banner-26.jpg);
}

.banner-27 {
  background-image: url(../img/bg/banner-27.jpg);
}

.banner-28 {
  background-image: url(../img/bg/banner-28.jpg);
}

.banner-29 {
  background-image: url(../img/bg/banner-29.jpg);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

p, ul {
  margin: 0 !important;
}

.brder-btm {
  border-bottom: 1px solid #9b9494;
}

.sec-heading {
  text-align: center;
  padding-bottom: 50px;
}
.sec-heading h1 {
  font-weight: 700;
  color: #5d2468;
  font-size: 2.5rem;
}
.sec-heading h5 {
  color: #5d2468;
  font-size: 1.25rem;
}

.br-r {
  border-right: 1px solid #5d2468;
}

.br-t {
  border-top: 1px solid #5d2468;
}

.br-b {
  border-bottom: 1px solid #5d2468;
}

.br-l {
  border-left: 1px solid #5d2468;
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
}

.owl-theme .owl-dots .owl-dot span {
  background: transparent !important;
  border: 1px solid #5d2468 !important;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #5d2468 !important;
}

.owl-nav button {
  outline: initial;
}

.main-menu {
  padding: 0 19px;
}
.main-menu a {
  font-size: 1rem;
  color: #5d2468;
  position: relative;
  transition: all 0.5s;
}
.main-menu a:hover {
  font-weight: 600;
}
.main-menu a:hover span {
  width: 14px;
  transition: all 0.5s;
}
.main-menu a span {
  width: 0px;
  height: 2.7px;
  background: #5d2468;
  display: block;
  position: absolute;
  top: 40%;
  left: -17px;
  transition: all 0.5s;
}
.main-menu li {
  line-height: 20px;
  padding: 7px 0;
}

.btn-respon.register-btn {
  border: 1px solid #fff;
  padding: 0 30px;
  position: absolute;
  top: 8%;
  right: 2%;
  z-index: 9;
  overflow: hidden;
  display: table;
  color: #fff;
  display: none;
  text-decoration: none;
  overflow: hidden;
  background: #461a55;
  background: linear-gradient(283deg, #5f2567 52%, rgba(95, 37, 103, 0.23) 100%);
}
.btn-respon.register-btn span {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.btn-respon.register-btn span::before {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  content: attr(data-hover);
  transition: all 0.5s;
}
.btn-respon.register-btn:hover span {
  transform: translateY(-87%);
  transform-origin: 0% 0%;
  display: table;
  transition: all 0.5s;
}

.main-slider-area {
  position: relative;
}
.main-slider-area .register-btn {
  border: 1px solid #fff;
  padding: 0 30px;
  position: absolute;
  top: 8%;
  right: 2%;
  z-index: 9;
  overflow: hidden;
  display: table;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.main-slider-area .register-btn span {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.main-slider-area .register-btn span::before {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  content: attr(data-hover);
  transition: all 0.5s;
}
.main-slider-area .register-btn:hover span {
  transform: translateY(-87%);
  transform-origin: 0% 0%;
  display: table;
  transition: all 0.5s;
}
.main-slider-area .register-btn {
  border: 1px solid #fff;
  padding: 0 30px;
  position: absolute;
  top: 8%;
  right: 2%;
  z-index: 9;
  overflow: hidden;
  display: table;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  background: #461a55;
  background: linear-gradient(283deg, #5f2567 52%, rgba(95, 37, 103, 0.23) 100%);
}
.main-slider-area .register-btn span {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.main-slider-area .register-btn span::before {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  content: attr(data-hover);
  transition: all 0.5s;
}
.main-slider-area .register-btn:hover span {
  transform: translateY(-87%);
  transform-origin: 0% 0%;
  display: table;
  transition: all 0.5s;
}

.side-main-nav {
  padding: 10% 10% 0%;
}
.side-main-nav .covid-response {
  font-size: 1rem;
  color: #5d2468;
  border: 1px solid #5d2468;
  padding: 10px 33px;
  display: table;
  margin-top: 13px;
}
.side-main-nav .cooming-soon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 203px;
  border: 1px solid #a58daa59;
  color: #a58daa;
  font-weight: 400;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
  font-size: 15px;
}
.side-main-nav .cooming-soon-btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
}
.side-main-nav .cooming-soon-btn span img {
  margin-right: 7px;
  width: 24px;
}
.side-main-nav .cooming-soon-btn span i {
  margin-right: 7px;
}
.side-main-nav .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}

.logo {
  padding-bottom: 31px;
  /* Responsive Menu Bar Animation */
  /* Responsive Menu Bar Animation */
}
.logo img {
  width: 50%;
}
.logo .navbar-toggler {
  border: none;
  outline: none;
  padding: 0;
}
.logo .navbar-toggler #nav-icon3 {
  width: 34px;
  height: 21px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.logo .navbar-toggler span {
  display: block;
  position: absolute;
  height: 3px;
  width: 77%;
  background: #602567;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.logo .navbar-toggler span:nth-child(1) {
  top: 0px;
}
.logo .navbar-toggler span:nth-child(2), .logo .navbar-toggler span:nth-child(3) {
  top: 8px;
}
.logo .navbar-toggler span:nth-child(4) {
  top: 17px;
}
.logo .navbar-toggler #nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.logo .navbar-toggler #nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.logo .navbar-toggler #nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.logo .navbar-toggler #nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.main-slider .owl-stage-outer::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: #5d2468;
  background: linear-gradient(0deg, #5d2468 0%, rgba(255, 255, 255, 0) 100%);
}
.main-slider .slider-item {
  position: relative;
}
.main-slider .slider-item .play-icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-slider .slider-item .play-icon-box img {
  width: auto;
  transform: translateX(3px);
}
.main-slider .slider-item .play-icon-box::before {
  content: "";
  background-image: url(../img/playicon.svg);
  position: absolute;
  top: 13%;
  width: 97%;
  left: -100%;
  height: 100%;
}
.main-slider .slider-item .play-icon-box:hover img {
  transform: translateX(100%);
  transition: all 0.5s;
}
.main-slider .slider-item .play-icon-box:hover::before {
  left: 13%;
  transition: all 0.5s;
}
.main-slider .slider-item .slider-imgg {
  display: block;
}
.main-slider .slider-item .res-slid {
  display: none;
}
.main-slider .owl-nav {
  position: relative;
  right: 20px;
  bottom: 16px;
  margin: 0 !important;
}
.main-slider .owl-nav button {
  position: absolute;
  bottom: 0;
  right: 0;
  outline: none;
}
.main-slider .owl-nav .owl-prev {
  right: 58px !important;
}

.previous-comments {
  position: relative;
  background-color: #f0e9e1;
}
.previous-comments .previous-left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  background-image: url(../img/highlights-thumbnail.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 42px 23px;
}
.previous-comments .previous-left .play-icon-box {
  position: absolute;
  top: 78%;
  left: 82%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.previous-comments .previous-left .play-icon-box img {
  width: auto;
  transform: translateX(3px);
}
.previous-comments .previous-left .play-icon-box::before {
  content: "";
  background-image: url(../img/playicon.svg);
  position: absolute;
  top: 13%;
  width: 97%;
  left: -100%;
  height: 100%;
}
.previous-comments .previous-left .play-icon-box:hover img {
  transform: translateX(100%);
  transition: all 0.5s;
}
.previous-comments .previous-left .play-icon-box:hover::before {
  left: 13%;
  transition: all 0.5s;
}
.previous-comments .previous-left h2 {
  color: #5d2468;
  font-weight: 700;
  padding: 0 46px;
}
.previous-comments .previous-left .convo-head-md {
  color: #5d2468;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  text-align: center;
  padding-bottom: 11px;
  padding: 0 0;
  font-size: 2.5rem;
}
.previous-comments .previous-left .convo-head-md span {
  display: block;
  -webkit-text-fill-color: #fff;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  text-align: right;
  font-size: 18px;
}
.previous-comments .previous-left .convo-head-lg {
  font-weight: 700;
  color: #fff;
  font-size: 32px !important;
  line-height: 32px;
  margin: 0;
  text-align: right;
}
.previous-comments .previous-left .convo-head-lg .sperator {
  display: flex;
}
.previous-comments .comment-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px 30px;
}
.previous-comments .comment-row .previous-comments-content {
  width: 87%;
  position: relative;
}
.previous-comments .comment-row .previous-comments-content h4 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.5rem;
  padding-top: 20px;
  margin: 0;
}
.previous-comments .comment-row .previous-comments-content p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
}
.previous-comments .comment-row .previous-comments-content .year-abstracts {
  display: flex;
  padding-top: 5px;
}
.previous-comments .comment-row .previous-comments-content .year-abstracts li {
  margin-right: 23px;
}
.previous-comments .comment-row .previous-comments-content .year-abstracts li a {
  font-size: 1rem;
  color: #5d2468;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 3px;
  transition: 0.5s;
  position: relative;
}
.previous-comments .comment-row .previous-comments-content .year-abstracts li a:hover:after {
  width: 100%;
  transition: 0.5s;
}
.previous-comments .comment-row .previous-comments-content .year-abstracts li a:after {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 0%;
  content: "";
  transform-origin: center;
  background-color: #5d2468;
  left: 0%;
  transition: 0.5s;
}
.previous-comments .seprator-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.previous-comments .seprator-prev .line-seprator {
  display: table;
  width: 1.4px;
  height: 100px;
  background-color: #dfd1c0;
}
.previous-comments .social-item {
  position: absolute;
  bottom: 27px;
  right: 0;
  padding-right: 23px;
}
.previous-comments .social-item h5 {
  font-size: 18px;
  color: #5d2468;
}
.previous-comments .social-item ul {
  display: flex;
}
.previous-comments .social-item ul li {
  list-style-type: none;
  margin-right: 23px;
}
.previous-comments .social-item ul li a {
  font-size: 1rem;
  color: #5d2468;
}
.previous-comments .social-item ul li a i {
  font-size: 23px;
}

.division-box {
  padding: 123px 0;
}
.division-box .col-lg-6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.division-box .divsion-content h3 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.75rem;
}
.division-box .divsion-content .pad-para {
  padding: 7px 0 13px;
}
.division-box .divsion-content p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
}
.division-box .division-img {
  position: relative;
}
.division-box .division-img::before {
  background-image: url(../img/hu-icon.svg);
  background-size: 95%;
  background-repeat: no-repeat;
  height: 760px;
  width: 770px;
  top: -120px;
  right: 184px;
  pointer-events: none;
  content: "";
  position: absolute;
}
.division-box .division-img img {
  width: 100%;
}

.graduate-area {
  background-image: url(../img/convo19/grad-directory-banner.jpg);
  padding: 90px 0 80px;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.graduate-area .grdaute-heading {
  text-align: right;
}
.graduate-area .divsion-content .cooming-soon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 160px;
  border: 1px solid #a58daa59;
  color: #fff;
  font-weight: 400;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
  font-size: 15px;
}
.graduate-area .divsion-content .cooming-soon-btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
}
.graduate-area .divsion-content .cooming-soon-btn span img {
  margin-right: 7px;
  width: 24px;
}
.graduate-area .divsion-content .cooming-soon-btn span i {
  margin-right: 7px;
}
.graduate-area .divsion-content .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.graduate-area .divsion-content h3 {
  font-weight: 700;
  color: #fff;
  font-size: 1.75rem;
}
.graduate-area .divsion-content .pad-para {
  padding: 7px 0 13px;
}
.graduate-area .divsion-content p {
  font-size: 1rem;
  color: #fff;
  line-height: 25px;
}

.next-genration {
  padding: 25px 0 0;
}
.next-genration .generation-box-parent {
  width: 45%;
}
.next-genration .generation-box-parent .generation-box {
  position: relative;
  cursor: pointer;
  margin-bottom: 93px;
}
.next-genration .generation-box-parent .generation-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #5d2468;
  top: 23px;
  right: 23px;
  z-index: -1;
  transition: all 0.5s;
}
.next-genration .generation-box-parent .generation-box:hover::before {
  top: 0;
  right: 0;
}
.next-genration .generation-box-parent .generation-box img {
  width: 100%;
}
.next-genration .generation-box-parent .generation-box .gene-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 32px 32px;
}
.next-genration .generation-box-parent .generation-box .gene-content p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
  color: #fff;
}
.next-genration .generation-box-parent .generation-box .gene-content h3 {
  color: #fff;
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
}
.next-genration .generation-box-parent .generation-box .gene-content h5 {
  color: #fff;
  font-size: 1.25rem;
  margin: 0;
}

.graduate-box .division-img::before {
  display: none;
}
.graduate-box .divsion-content .cooming-soon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 160px;
  border: 1px solid #a58daa59;
  color: #a58daa;
  font-weight: 400;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
  font-size: 15px;
}
.graduate-box .divsion-content .cooming-soon-btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
}
.graduate-box .divsion-content .cooming-soon-btn span img {
  margin-right: 7px;
  width: 24px;
}
.graduate-box .divsion-content .cooming-soon-btn span i {
  margin-right: 7px;
}
.graduate-box .divsion-content .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}

.remember-dates-area {
  margin: -51px 0 0;
}
.remember-dates-area .remember-dates-are-in {
  position: relative;
}
.remember-dates-area .remember-dates-are-in h1 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.8rem;
  text-align: right;
  position: relative;
  top: 80px;
}
.remember-dates-area .remember-dates-are-in h1 span {
  font-weight: 400;
  display: block;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony {
  background-image: url(../img/remember-dates-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12% 9%;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony h2 {
  font-weight: 700;
  color: #5d2468;
  font-size: 2rem;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony h4 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.5rem;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .ceremony-list {
  width: 80%;
  padding-top: 10px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .ceremony-list li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: #5d2468;
  padding-bottom: 17px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .ceremony-list li span {
  width: 45%;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .register-btn {
  border: 1px solid #5d2468;
  padding: 0 30px;
  position: relative;
  top: 8%;
  right: 0;
  z-index: 9;
  overflow: hidden;
  display: table;
  color: #5d2468;
  text-decoration: none;
  overflow: hidden;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .register-btn span {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .register-btn span::before {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  content: attr(data-hover);
  transition: all 0.5s;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .register-btn:hover span {
  transform: translateY(-87%);
  transform-origin: 0% 0%;
  display: table;
  transition: all 0.5s;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent {
  position: absolute;
  right: 35px;
  bottom: -119px;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent .owl-theme .owl-nav {
  display: flex;
  justify-content: flex-end;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent .owl-theme .owl-nav button {
  background: #FDF2FF;
  width: 55px;
  height: 55px;
  outline: none !important;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent .owl-theme .owl-nav button:hover {
  background: #FDF2FF !important;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent .owl-theme .owl-nav .owl-prev {
  margin-right: 15px !important;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent h1 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.8rem;
  text-align: right;
  padding: 10px 0 7px;
  display: none;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent h1 span {
  font-weight: 400;
  display: block;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent .cermony-img .cermony-slider-item {
  position: relative;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent .cermony-img .cermony-slider-item::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #5d2468;
  background: linear-gradient(0deg, #5d2468 0%, rgba(255, 255, 255, 0) 50%);
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent .cermony-img .cermony-slider-item .cermony-slider-item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  flex-direction: column;
  z-index: 99;
  top: 0;
  left: 0;
  padding: 17px 35px;
  text-align: right;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent .cermony-img .cermony-slider-item .cermony-slider-item-content h4 {
  color: #fff;
  font-weight: 700;
  margin: 0;
  font-size: 20px;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent .cermony-img .cermony-slider-item .cermony-slider-item-content p {
  color: #fff;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent .cermony-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #5d2468;
  left: 35px;
  z-index: -1;
  top: -35px;
  height: calc(100% - 70px);
}
.remember-dates-area .remember-dates-are-in .count-slider-item {
  color: #5d2468;
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  left: 37px;
}

section.insta-feed-area {
  padding: 0px 0 40px;
  overflow: hidden;
}

.insta-feed-area .sec-heading {
  padding-bottom: 30px;
}

footer {
  padding-bottom: 15px;
}
footer .footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-inner ul {
  display: flex;
  margin: 10px 0 10px !important;
}
footer .footer-inner ul li {
  margin-right: 15px;
}
footer .footer-inner .fol-para {
  font-weight: 500;
}
footer .footer-inner .copy-right {
  color: #5d2468;
}

.full-menu .button_container {
  position: fixed;
  top: 2%;
  left: 2%;
  height: 37px;
  width: 42px;
  cursor: pointer;
  z-index: 9999;
  transition: opacity 0.25s ease;
  display: flex;
  justify-content: space-between;
  border: 6px solid #5d2468;
  background: #5d2468;
  box-shadow: 0 0 6px 0px #ffffff80;
}
.full-menu .button_container:hover {
  opacity: 0.7;
}
.full-menu .button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.full-menu .button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.full-menu .button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.full-menu .button_container span {
  background: #fff;
  border: none;
  height: 3px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.full-menu .button_container span:nth-of-type(2) {
  top: 11px;
}
.full-menu .button_container span:nth-of-type(3) {
  top: 22px;
}
.full-menu .overlay {
  position: fixed;
  background: #5d2468;
  top: 0;
  left: -100%;
  height: 100%;
  width: 50%;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 999;
}
.full-menu .overlay .covi-btn {
  margin-left: auto;
  margin-right: 42px;
  display: table;
  margin-top: 25px;
}
.full-menu .overlay .covi-btn .cooming-soon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 203px;
  border: 1px solid #a58daa59;
  color: #fff;
  font-weight: 400;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
  font-size: 15px;
}
.full-menu .overlay .covi-btn .cooming-soon-btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
}
.full-menu .overlay .covi-btn .cooming-soon-btn span img {
  margin-right: 7px;
  width: 24px;
}
.full-menu .overlay .covi-btn .cooming-soon-btn span i {
  margin-right: 7px;
}
.full-menu .overlay .covi-btn .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.full-menu .overlay .covi-btn img {
  filter: brightness(0) invert(1);
}
.full-menu .overlay .covi-btn a {
  z-index: 999;
  position: relative;
}
.full-menu .overlay.open {
  left: 0;
  box-shadow: 20px 0 99px 30px #000000a1;
}
.full-menu .overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
  display: flex;
  justify-content: center;
}
.full-menu .overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.full-menu .overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.full-menu .overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.full-menu .overlay.open li:nth-of-type(5) {
  animation-delay: 0.55s;
}
.full-menu .overlay.open li:nth-of-type(6) {
  animation-delay: 0.6s;
}
.full-menu .overlay.open li:nth-of-type(7) {
  animation-delay: 0.65s;
}
.full-menu .overlay::before {
  content: "";
  background-image: url(../img/icon-for-menu.svg);
  width: 100%;
  height: 100%;
  background-position: bottom right;
  bottom: 0;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 23%;
  pointer-events: none;
}
.full-menu .overlay nav {
  position: relative;
  height: 100%;
  top: 36%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-menu .overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
}
.full-menu .overlay ul li {
  display: block;
  min-height: 50px;
  position: relative;
  opacity: 0;
  padding: 7px 0;
}
.full-menu .overlay ul li a {
  display: table;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  font-size: 1.4rem;
}
.full-menu .overlay ul li a span {
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  font-weight: 800;
  letter-spacing: 2px;
}
.full-menu .overlay ul li a span::before {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  content: attr(data-hover);
  transition: all 0.5s;
}
.full-menu .overlay ul li a:hover span {
  transform: translateY(-100%);
  transform-origin: 0% 0%;
  display: table;
  transition: all 0.5s;
  -webkit-text-fill-color: #fff;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #333333;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}

.inner-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 104px 0;
}
.inner-banner .iner-baner--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inner-banner .iner-baner--content h1 {
  font-weight: 700;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  text-align: center;
  font-size: 85px;
}
.inner-banner .iner-baner--content h1 span {
  font-weight: 700;
  color: #fff;
  display: block;
  font-size: 42px;
}

.inner-pages-wraper {
  padding-top: 50px;
}
.inner-pages-wraper .main-iner-video .video-banner .play-icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.inner-pages-wraper .main-iner-video .video-banner .play-icon-box img {
  width: auto;
  transform: translateX(3px);
}
.inner-pages-wraper .main-iner-video .video-banner .play-icon-box::before {
  content: "";
  background-image: url(../img/playicon.svg);
  position: absolute;
  top: 13%;
  width: 97%;
  left: -100%;
  height: 100%;
}
.inner-pages-wraper .main-iner-video .video-banner .play-icon-box:hover img {
  transform: translateX(100%);
  transition: all 0.5s;
}
.inner-pages-wraper .main-iner-video .video-banner .play-icon-box:hover::before {
  left: 13%;
  transition: all 0.5s;
}
.inner-pages-wraper .main-iner-video .video-banner img {
  width: 100%;
}
.inner-pages-wraper .main-iner-video .video-banner .inner-res-banner {
  display: none;
}
.inner-pages-wraper .main-iner-video .video-banner .iner-banner {
  display: block;
}

.padt-set {
  padding-top: 75px;
  padding-bottom: 0;
}

.padb-set {
  padding-bottom: 75px;
  padding-top: 0;
}

.padtb-set {
  padding-top: 75px;
  padding-bottom: 75px;
}

.inner-pages-wraper .division-box .divsion-content h5 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #5d2468;
}
.inner-pages-wraper .division-box .divsion-content h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #5d2468;
}
.inner-pages-wraper .division-box .division-img .play-icon-box {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.inner-pages-wraper .division-box .division-img .play-icon-box img {
  width: auto;
  transform: translateX(3px);
}
.inner-pages-wraper .division-box .division-img .play-icon-box::before {
  content: "";
  background-image: url(../img/playicon.svg);
  position: absolute;
  top: 13%;
  width: 97%;
  left: -100%;
  height: 100%;
}
.inner-pages-wraper .division-box .division-img .play-icon-box:hover img {
  transform: translateX(100%);
  transition: all 0.5s;
}
.inner-pages-wraper .division-box .division-img .play-icon-box:hover::before {
  left: 13%;
  transition: all 0.5s;
}

.para-area .sec-heading {
  padding: 57px 0 0;
}

.previous-comments.comment-21 .previous-left .convo-head-lg {
  font-size: 80px !important;
  line-height: 73px;
}

.graduation-miles-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}
.graduation-miles-banner .banner-cont-grad {
  height: 100%;
}
.graduation-miles-banner .banner-cont-grad .banner-title {
  font-weight: 400;
  color: #fff;
  font-size: 48px;
  line-height: 57px;
}
.graduation-miles-banner .banner-cont-grad .banner-title span {
  font-weight: 700;
  display: block;
  font-size: 71px;
}
.graduation-miles-banner .banner-cont-grad .play-icon-box {
  position: initial !important;
  left: 0 !important;
  transform: translate(0, 0) !important;
  margin-top: 22px;
}
.graduation-miles-banner .banner-cont-grad .play-icon-box::before {
  background-repeat: no-repeat;
}
.graduation-miles-banner .banner-cont-grad p {
  color: #fff;
  padding-top: 7px;
}
.graduation-miles-banner .set-banner-rght-img {
  position: relative;
}
.graduation-miles-banner .set-banner-rght-img .play-icon-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.graduation-miles-banner .set-banner-rght-img .play-icon-box img {
  width: auto;
  transform: translateX(3px);
}
.graduation-miles-banner .set-banner-rght-img .play-icon-box::before {
  content: "";
  background-image: url(../img/playicon.svg);
  position: absolute;
  top: 13%;
  width: 97%;
  left: -100%;
  height: 100%;
}
.graduation-miles-banner .set-banner-rght-img .play-icon-box:hover img {
  transform: translateX(100%);
  transition: all 0.5s;
}
.graduation-miles-banner .set-banner-rght-img .play-icon-box:hover::before {
  left: 13%;
  transition: all 0.5s;
}

.graduation-para h4 {
  font-weight: 600;
  color: #5d2468;
  font-size: 1.5rem;
}
.graduation-para h5 {
  font-weight: 600;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
}
.graduation-para p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
}
.graduation-para strong {
  font-weight: 700;
  color: #5d2468;
}
.graduation-para .major {
  font-weight: 700;
  color: #5d2468;
  text-align: center;
  display: block;
}
.graduation-para h1 {
  font-weight: 700;
  color: #5d2468;
  font-size: 85px;
  line-height: 60px;
}
.graduation-para .miles-count {
  position: relative;
}
.graduation-para .miles-count::after {
  content: "";
  width: 75px;
  height: 3px;
  background: #5d2468;
  position: absolute;
  right: -13px;
  top: 50%;
  transform: translateY(-50%);
}
.graduation-para .miles-content {
  position: relative;
  top: 15px;
}
.graduation-para .prog-title {
  background-color: #5d2468;
}
.graduation-para .program-box {
  padding: 11px 10px;
  transition: all 0.5s;
}

.registaion-form-area {
  padding: 63px 0 0;
}
.registaion-form-area .rgist-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 0px #ccc;
  text-align: center;
  margin-bottom: 60px;
  height: 214px;
  padding: 0 40px;
  overflow: hidden;
  position: relative;
}
.registaion-form-area .rgist-box p {
  font-size: 18px;
  color: #5d2468;
  line-height: 25px;
}
.registaion-form-area .rgist-box .regis-view {
  border: 1px solid #5d2468;
  color: #5d2468;
  padding: 4px 30px;
  display: table;
  margin: 13px auto;
  font-size: 16px;
}
.registaion-form-area .rgist-box::after {
  position: absolute;
  content: "";
  bottom: -32px;
  right: -30px;
  width: 100%;
  height: 100%;
  background-image: url(../img/registraion/box-icon.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  pointer-events: none;
}
.registaion-form-area .rgist-box.anthem-box {
  height: auto;
  overflow: initial;
  box-shadow: 0 0 0px 0px transparent;
}
.registaion-form-area .rgist-box.anthem-box::after {
  bottom: -12px;
  right: 41px;
}

.inner-banner.awards-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.inner-banner.awards-banner h1 {
  font-weight: 300;
  line-height: 81px;
  justify-content: center;
  align-items: center;
}
.inner-banner.awards-banner h1 span {
  font-size: 85px;
}

.registaion-form-area.award-graduation {
  padding: 63px 0 70px;
}
.registaion-form-area.award-graduation .brder-around {
  border: 2px solid #5d2468;
  width: 85%;
  position: absolute;
  top: -2px;
  left: 13px;
  height: 100%;
}
.registaion-form-area.award-graduation .rgist-box {
  height: calc(100% + 10px);
  text-align: left;
  align-items: flex-start;
  padding: 62px 17px 51px;
  background: #fff;
  position: relative;
  top: 23px;
  left: 23px;
  margin-right: 25px;
  transition: all 0.5s;
  margin-bottom: 0;
  justify-content: flex-start;
}
.registaion-form-area.award-graduation .rgist-box::after {
  display: none;
}
.registaion-form-area.award-graduation .rgist-box h4 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.4rem;
  line-height: 30px;
}
.registaion-form-area.award-graduation .rgist-box .madel-btch {
  position: absolute;
  top: 0;
  right: 10px;
}
.registaion-form-area.award-graduation .rgist-box .cropped-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}
.registaion-form-area.award-graduation .rgist-box p {
  font-size: 1rem;
}

.registaion-form-area.regalia {
  padding: 63px 0 60px;
}
.registaion-form-area.regalia .rgist-box {
  height: auto;
  padding: 0 0 30px;
  overflow: initial;
  background: #fff;
  margin-right: 40px;
}
.registaion-form-area.regalia .rgist-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #5d2468;
  top: -23px;
  right: 23px;
  z-index: -1;
  transition: all 0.5s;
  pointer-events: none;
}
.registaion-form-area.regalia .rgist-box::after {
  background-size: 27%;
}
.registaion-form-area.regalia h3 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.75rem;
  margin-top: 15px;
}

.announcement-area {
  padding: 60px 0;
}
.announcement-area .search-anouncement input {
  border-radius: 0;
  border-color: #5d2468;
}
.announcement-area .search-anouncement input::placeholder {
  font-size: 15px;
  color: #5d2468;
}
.announcement-area .search-anouncement .input-group-text {
  border-radius: 0;
  background-color: #5d2468;
  color: #fff;
  border-color: #5d2468;
}
.announcement-area .anoun-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #888;
  padding: 23px 0;
}
.announcement-area .anoun-list-item:first-child {
  border-top: 1px solid #888;
}
.announcement-area .anoun-list-item .anoun-cont-iner {
  display: flex;
  width: 64%;
  align-items: center;
}
.announcement-area .anoun-list-item .anoun-cont-iner .anoun-item-content {
  margin-left: 53px;
}
.announcement-area .anoun-list-item .anoun-cont-iner .anoun-item-content h3 {
  font-weight: 700;
  color: #5d2468;
}
.announcement-area .anoun-list-item .anoun-cont-iner .anoun-item-content p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 203px;
  border: 1px solid #a58daa59;
  color: #a58daa;
  font-weight: 400;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
  font-size: 15px;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn span img {
  margin-right: 7px;
  width: 24px;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn span i {
  margin-right: 7px;
}
.announcement-area .anoun-list-item .detail-btn .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}

.shedule-heading {
  font-weight: 700;
  color: #5d2468;
  padding: 80px 0;
}

.graduation-events {
  padding: 25px 0 25px;
}
.graduation-events h2 {
  font-weight: 700;
  color: #5d2468;
  padding-bottom: 10px;
  margin: 0;
}
.graduation-events .row {
  padding: 25px 0;
}
.graduation-events .row:nth-child(1) {
  border-bottom: 1px solid #5d2468;
}
.graduation-events .event-gradu-boxes .event-box {
  display: flex;
  justify-content: space-between;
}
.graduation-events .event-gradu-boxes .event-box span {
  padding: 15px 0;
  font-size: 16px;
  font-weight: 600;
  color: #5d2468;
  width: 30%;
}
.graduation-events .row:nth-child(2) .event-gradu-boxes .event-box span, .graduation-events .row:nth-child(3) .event-gradu-boxes .event-box span {
  width: 45%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent !important;
}

.graduate-box-area {
  padding: 50px 0;
}
.graduate-box-area .graduate-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graduate-box-area .graduate-box img {
  width: 100%;
}
.graduate-box-area .graduate-box a {
  width: 100%;
}
.graduate-box-area .graduate-box .cooming-soon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 160px;
  border: 1px solid #a58daa59;
  color: #a58daa;
  font-weight: 400;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
  font-size: 15px;
}
.graduate-box-area .graduate-box .cooming-soon-btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
}
.graduate-box-area .graduate-box .cooming-soon-btn span img {
  margin-right: 7px;
  width: 24px;
}
.graduate-box-area .graduate-box .cooming-soon-btn span i {
  margin-right: 7px;
}
.graduate-box-area .graduate-box .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}

.graduation-para.event-area .padtb-set {
  padding-top: 55px;
  padding-bottom: 55px;
}
.graduation-para.event-area h5 {
  color: #5d2468;
  text-align: left;
  font-weight: 700;
}
.graduation-para.event-area .gradua-event-list {
  width: 100%;
  padding-top: 20px;
}
.graduation-para.event-area .gradua-event-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #5d2468;
  font-weight: 500;
  padding: 19px 0;
  position: relative;
  border-bottom: 1px solid #5d2468;
}
.graduation-para.event-area .gradua-event-list li:last-child {
  border-bottom: none;
}
.graduation-para.event-area .gradua-event-list li:first-child {
  padding: 12px 0;
}
.graduation-para.event-area .gradua-event-list li .text-ceremony {
  width: 47%;
}
.graduation-para.event-area .gradua-event-list li .text-ceremony a {
  color: #5d2468;
}

.insta-feed-area .insta-js-feeds .insta-view-more {
  display: flex;
  justify-content: center;
}
.insta-feed-area .insta-js-feeds .insta-view-more .register-btn {
  border: 1px solid #5d2468;
  padding: 0 30px;
  position: relative;
  top: 8%;
  right: 0;
  z-index: 9;
  overflow: hidden;
  display: table;
  color: #5d2468;
  text-decoration: none;
  overflow: hidden;
}
.insta-feed-area .insta-js-feeds .insta-view-more .register-btn span {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.insta-feed-area .insta-js-feeds .insta-view-more .register-btn span::before {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  content: attr(data-hover);
  transition: all 0.5s;
}
.insta-feed-area .insta-js-feeds .insta-view-more .register-btn:hover span {
  transform: translateY(-87%);
  transform-origin: 0% 0%;
  display: table;
  transition: all 0.5s;
}
.insta-feed-area .insta-js-feeds .ig_feed_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container {
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 31%;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 11px 1px #ccc6;
  transition: all 0.25s ease-in-out;
  display: none;
}
.insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container:nth-child(1), .insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container:nth-child(2), .insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container:nth-child(3), .insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container:nth-child(4), .insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container:nth-child(5), .insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container:nth-child(6) {
  display: block;
}
.insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container .insta-post-link {
  color: #000;
}
.insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container .insta-post-link img {
  width: 100%;
}
.insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container .insta-post-link .ig_post_details {
  display: flex;
  padding-top: 10px;
  align-items: flex-start;
  justify-content: space-between;
}
.insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container .insta-post-link .ig_post_details .insta-icon {
  width: 20px;
}
.insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container .insta-post-link .ig_post_details .detail-iner {
  width: 90%;
}
.insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container .insta-post-link .ig_post_details .detail-iner h5 {
  font-size: 1.25rem;
  margin: 0;
}
.insta-feed-area .insta-js-feeds .ig_feed_container .ig_post_container .insta-post-link .ig_post_details .detail-iner p {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

footer.footer-404 {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.side-nav-404 {
  height: 100vh;
}

.page-not-found {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e4d4b9;
}
.page-not-found h1 {
  font-size: 42px;
  font-weight: 700;
  color: #5d2468;
}
.page-not-found p {
  font-size: 19px;
  padding: 0 20%;
  text-align: center;
  color: #5d2468;
}
.page-not-found .copy-right {
  position: fixed;
  bottom: 15px;
}

.example h1,
.example p,
.example .button {
  transition: all 0.2s ease-in-out;
}

body.light-theme {
  background-color: #151515;
}

body.light-theme .example h1 {
  color: #FFFFFF;
}

body.light-theme .example p {
  color: #FFFFFF;
}

body.light-theme .buttons .button {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

body.light-theme .buttons .button:hover {
  color: #151515;
  background-color: #FFFFFF;
}

.example {
  font-family: "Roboto", sans-serif;
  width: 550px;
  height: 378px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.example .flipdown {
  margin: auto;
}

.example h1 {
  text-align: center;
  font-weight: 100;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 10px;
}

.example p {
  text-align: center;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 35px;
}

.example .buttons {
  width: 100%;
  height: 50px;
  margin: 50px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example .buttons p {
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  padding: 0px 25px 0px 0px;
  color: #333;
  margin: 0px;
}

.example .button {
  display: inline-block;
  height: 50px;
  box-sizing: border-box;
  line-height: 46px;
  text-decoration: none;
  color: #333;
  padding: 0px 20px;
  border: solid 2px #333;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.example .button:hover {
  background-color: #333;
  color: #FFF;
}

.example .button i {
  margin-right: 5px;
}

@media (max-width: 550px) {
  .example {
    width: 100%;
    height: 362px;
  }

  .example h1 {
    font-size: 2.5em;
  }

  .example p {
    margin-bottom: 25px;
  }

  .example .buttons {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    display: block;
  }

  .example .buttons p,
.example .buttons a {
    float: none;
    margin: 0 auto;
  }

  .example .buttons p {
    padding-right: 0px;
  }

  .example .buttons a {
    display: inline-block;
  }
}
video[poster] {
  height: 350px;
  width: 100%;
  object-fit: cover;
  top: 0;
  position: relative;
}

.modal .modal-dialog {
  max-width: 900px !important;
}
.modal .close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}
.modal .popup-cotent {
  display: flex;
  justify-content: space-between;
}
.modal .popup-cotent .popup-img-cotent {
  width: 47%;
}
.modal .popup-cotent .popup-img-cotent img {
  width: 100%;
}
.modal .popup-cotent .modal-right-content {
  width: 50%;
}
.modal .popup-cotent .modal-right-content .register-btn {
  border: 1px solid #5d2468;
  padding: 0 30px;
  position: initial;
  top: 8%;
  right: 0;
  z-index: 9;
  overflow: hidden;
  display: table;
  color: #5d2468;
  text-decoration: none;
  overflow: hidden;
}
.modal .popup-cotent .modal-right-content .register-btn span {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.modal .popup-cotent .modal-right-content .register-btn span::before {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  content: attr(data-hover);
  transition: all 0.5s;
}
.modal .popup-cotent .modal-right-content .register-btn:hover span {
  transform: translateY(-87%);
  transform-origin: 0% 0%;
  display: table;
  transition: all 0.5s;
}
.modal .popup-cotent .modal-right-content .modal-right--header {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.modal .popup-cotent .modal-right-content .modal-right--header img {
  width: 30px;
  margin-right: 10px;
}
.modal .popup-cotent .modal-right-content .modal-right--header h4 {
  font-weight: 600;
}

.slider-wraperr .timmer-inner {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  bottom: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-wraperr .timmer-inner .timer-top {
  display: flex;
  width: 87%;
}
.slider-wraperr .timmer-inner .timer-top li {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
}
.slider-wraperr .timmer-inner .timer-top li:last-child::after {
  display: none;
}
.slider-wraperr .timmer-inner .timer-top li::after {
  position: absolute;
  width: 1px;
  content: "";
  top: 48%;
  height: 71px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  right: 13px;
}
.slider-wraperr .timmer-inner .timer-top li h1 {
  font-size: 62px;
  font-weight: 700;
  padding-top: 10px;
  color: #fff;
}
.slider-wraperr .timmer-inner .timer-top li h1 sup {
  top: -22px !important;
  text-transform: uppercase;
  font-size: 31px;
}
.slider-wraperr .timmer-inner .timer-top li h1 span {
  display: block;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  right: -48px;
  top: -33px;
}
.slider-wraperr .timmer-inner .timer-top li p {
  font-size: 21px;
  color: #fff;
  text-align: right;
  line-height: 30px;
}
.slider-wraperr .timmer-inner .timer-top li p strong {
  display: block;
  font-size: 25px;
}
.slider-wraperr .timmer-inner .flip-timer {
  padding: 6px 0 0 0;
}
.slider-wraperr .timmer-inner .flip-timer #custom-timer {
  display: flex;
}
.slider-wraperr .timmer-inner .flip-timer #custom-timer .timer-box {
  margin-right: 60px;
}
.slider-wraperr .timmer-inner .flip-timer #custom-timer .timer-box:last-child {
  margin-right: 0px;
}
.slider-wraperr .timmer-inner .flip-timer #custom-timer .timer-box:last-child .timer-time:after {
  display: none;
}
.slider-wraperr .timmer-inner .flip-timer #custom-timer .timer-box span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-wraperr .timmer-inner .flip-timer #custom-timer .timer-box .timer-time {
  color: #fff;
  font-weight: 700;
  width: 50px;
  height: 31px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
  position: relative;
}
.slider-wraperr .timmer-inner .flip-timer #custom-timer .timer-box .timer-time:after {
  position: absolute;
  top: 49%;
  right: -32px;
  transform: translateY(-50%);
  content: ":";
  font-size: 30px;
}
.slider-wraperr .timmer-inner .flip-timer #custom-timer .timer-box .timer-text {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.dsse-final-showcase .modal-content {
  border-radius: 0;
  padding: 10px;
}
.dsse-final-showcase .modal-content .close {
  background: #5d2468;
  opacity: 1;
  padding: 5px 10px;
  font-size: 19px;
  color: #fff;
}
.dsse-final-showcase .modal .modal-dialog {
  max-width: 900px !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}
.dsse-final-showcase .carousel-inner img {
  width: 100%;
  height: 100%;
}
.dsse-final-showcase .carousel-item-click {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dsse-final-showcase .carousel-item-click a {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #5d2468;
  opacity: 1;
}
.dsse-final-showcase .carousel-item-click .carousel-control-next-icon, .dsse-final-showcase .carousel-item-click .carousel-control-prev-icon {
  width: 13px;
}
.dsse-final-showcase #custCarousel .carousel-indicators, .dsse-final-showcase #custCarouselone .carousel-indicators, .dsse-final-showcase #custCarouselThree .carousel-indicators, .dsse-final-showcase #custCarouselFour .carousel-indicators {
  position: static;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.dsse-final-showcase #custCarousel .carousel-indicators > li, .dsse-final-showcase #custCarouselone .carousel-indicators > li, .dsse-final-showcase #custCarouselThree .carousel-indicators > li, .dsse-final-showcase #custCarouselFour .carousel-indicators > li {
  width: 10%;
  display: table;
  border-bottom: 0;
}
.dsse-final-showcase #custCarousel .carousel-indicators li img, .dsse-final-showcase #custCarouselone .carousel-indicators li img, .dsse-final-showcase #custCarouselThree .carousel-indicators li img, .dsse-final-showcase #custCarouselFour .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}
.dsse-final-showcase #custCarousel .carousel-indicators li.active img, .dsse-final-showcase #custCarouselone .carousel-indicators li.active img, .dsse-final-showcase #custCarouselThree .carousel-indicators li.active img, .dsse-final-showcase #custCarouselFour .carousel-indicators li.active img {
  opacity: 1;
}
.dsse-final-showcase #custCarousel .carousel-indicators li:hover img, .dsse-final-showcase #custCarouselone .carousel-indicators li:hover img, .dsse-final-showcase #custCarouselThree .carousel-indicators li:hover img, .dsse-final-showcase #custCarouselFour .carousel-indicators li:hover img {
  opacity: 0.75;
}
.dsse-final-showcase #custCarousel .carousel-indicators li:first-child, .dsse-final-showcase #custCarouselone .carousel-indicators li:first-child, .dsse-final-showcase #custCarouselThree .carousel-indicators li:first-child, .dsse-final-showcase #custCarouselFour .carousel-indicators li:first-child {
  margin-left: 0;
}
.dsse-final-showcase #custCarousel .carousel-indicators li:last-child, .dsse-final-showcase #custCarouselone .carousel-indicators li:last-child, .dsse-final-showcase #custCarouselThree .carousel-indicators li:last-child, .dsse-final-showcase #custCarouselFour .carousel-indicators li:last-child {
  margin-right: 0;
}
.dsse-final-showcase .carousel-item {
  position: relative;
}
.dsse-final-showcase .carousel-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
  background: #5d2468;
  background: linear-gradient(0deg, #5d2468 0%, rgba(255, 255, 255, 0) 50%);
}
.dsse-final-showcase .carousel-item img {
  width: 100%;
}
.dsse-final-showcase .carousel-item .caption-content {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  z-index: 1;
}
.dsse-final-showcase .carousel-item .caption-content p {
  color: #fff;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
}

/*# sourceMappingURL=style.css.map */
