.banner-18 {
  background-image: url(../img/bg/banner-18.jpg);
}

.banner-19 {
  background-image: url(../img/bg/banner-19.jpg);
}

.banner-20 {
  background-image: url(../img/bg/banner-20.jpg);
}

.banner-21 {
  background-image: url(../img/bg/banner-21.jpg);
}

.banner-22 {
  background-image: url(../img/bg/banner-22.jpg);
}

.banner-23 {
  background-image: url(../img/bg/banner-23.jpg);
}

.banner-24 {
  background-image: url(../img/bg/banner-24.jpg);
}

.banner-25 {
  background-image: url(../img/bg/banner-25.jpg);
}

.banner-26 {
  background-image: url(../img/bg/banner-26.jpg);
}

.banner-27 {
  background-image: url(../img/bg/banner-27.jpg);
}

.banner-28 {
  background-image: url(../img/bg/banner-28.jpg);
}

.banner-29 {
  background-image: url(../img/bg/banner-29.jpg);
}

/*# sourceMappingURL=mixin.css.map */
