
// flex Mixin
@mixin FlexDirAligJus($flex: $d-flex, $dir: $fl-di-ro , $alig: $al-it-st, $just: $ju-co-st){
    display: $flex;
    flex-direction: $dir;
    align-items: $alig;
    justify-content: $just;
}
// flex Mixin


// Background Images
// @mixin bg-img($img: '../img/bg/default.jpg' , $bgsize:cover , $bgrepeat:no-repeat , $bgpos:center) {
//    background-image: url($img);
//    background-repeat: $bgrepeat;
//    background-size: $bgsize;
// }
// Background Images
@mixin center($position) {
    position: absolute;
    
    @if $position == 'vertical' {
      top: 50%;
      transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
      left: 50%;
      transform: translate(-50%);
    }
    @else if $position == 'both' {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


// Mixins
@mixin ComonFontsStyle {
   font-size: 1rem;
   color: $theme-color-dark
}
@mixin CommonPara($fn-s:$p, $clr: $theme-color-dark , $lin-ht: 25px) {
   font-size: $fn-s;
   color: $clr;
   line-height: $lin-ht;
}

@mixin HeadingCommons($weight:$Bold , $clr:$theme-color-dark){
   font-weight: $weight;
   color: $clr;
}
@mixin BeforeCoomon{
   content: '';
   position: absolute;
}
@mixin FullArea {
   width: 100%;
   height: 100%;
}

// Flex Mixin Variable

@mixin btn-swap($pos:absolute , $clr: $theme-color-dark, $right:2%){
    .register-btn {
        border: 1px solid $clr;
        padding: 0 30px;
        position: $pos;
        top: 8%;
        right: $right;
        z-index: 9;
        overflow: hidden;
        display: table;
        color: $clr;
        text-decoration: none;
        overflow: hidden;
        span{
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s;
            &::before{
                position: absolute;
                top: 100%;
                width: 100%;
                left: 0;
                content: attr(data-hover);
                transition: all 0.5s;
            }
        }
        &:hover{
            span{
                transform: translateY(-87%);
                transform-origin: 0% 0%;
                display: table;  
                transition: all 0.5s;
            }
        }
      }
    }

// Common Btn Css
@mixin theme-btn($w:0px , $h:0px , $clr:#a58daa){
   .cooming-soon-btn{
       @include FlexDirAligJus($d-flex, $fl-di-ro, $al-it-ce, $ju-co-ce);
       width: $w;
       border: 1px solid #a58daa59;
       color: $clr;
       font-weight: 400;
       margin-top: 13px;
       overflow: hidden;
       height: $h;
       transition: all 0.5s;
       font-size: 15px;
       span{
           @include FlexDirAligJus($d-flex, $fl-di-ro, $al-it-ce, $ju-co-ce);
           height: $h;
           background: transparent;
           img{
               margin-right: 7px;
               width: 24px;
           }
           i{
               margin-right: 7px;
           }
       }
       .btn-hover-down{
           position: relative;
           bottom: -20px;
           transition: all 0.5s;
           display: flex;
           flex-direction: column;
       }
    //    &:hover{
    //        background-color: $theme-color-dark;
    //        color: $white;
    //        .btn-hover-down{
    //            bottom: 20px; 
    //            span{
    //                img{
    //                    filter: brightness(0) invert(1);
    //                }
    //            }
    //        }
    //    }
   }
}
// Common Btn Css


// Play Icon
@mixin play-icon($top:55% , $left:55%){
    .play-icon-box {
        position: absolute;
        top: $top;
        left: $left;
        transform: translate(-50%, -50%);
        border: 2px solid #fff;
        border-radius: 100%;
        width: 85px;
        height: 85px;
        @include FlexDirAligJus($d-flex, $fl-di-ro, $al-it-ce, $ju-co-ce);
        overflow: hidden;
        img{
            width: auto;
            transform: translateX(3px);
        }
        &::before{
            content: "";
            background-image: url(../img/playicon.svg);
            position: absolute;
            top: 13%;
            width: 97%;
            left: -100%;
            height: 100%;
        }
        &:hover{
            img{
                transform: translateX(100%);
                transition: all 0.5s;
            }
            &::before{
                // transform: translateX(0%);
                left: 13%;
                transition: all 0.5s;
            }
        }
    }
}
// Play Icon


@mixin BorderAround($pos:absolute,$w: 100%, $h: 100% , $top: -23px, $rgt:23px){
    &::before{
        content: "";
        position: $pos;
        width: $w;
        height: $h;
        border: 2px solid #5d2468;
        top: $top;
        right: $rgt;
        z-index: -1;
        transition: all 0.5s;
        pointer-events: none;
    }
}


@mixin HabibIcon($pos:absolute,$w: 100%, $h: 100% , $btm: -32px, $rgt:-30px, $bg: url(../img/registraion/box-icon.svg), $bg-pos:right bottom){
    &::after {
        position: $pos;
        content: "";
        bottom: $btm;
        right: $rgt;
        width: $w;
        height: $h;
        background-image: $bg;
        background-repeat: no-repeat;
        background-position: $bg-pos;
        pointer-events: none;
    }
}



// Banner Mixin
@mixin bg-props($bgsize:cover , $bgrepeat:no-repeat , $bgpos:center) {
    background-repeat: $bgrepeat;
    background-size: $bgsize;
    background-position: $bgpos;
}
//  Banner Mixin
// Banner Loop For Multiple Pages
@for $i from 18 through 29 {
    .banner-#{$i} {
        background-image: url(../img/bg/banner-#{$i}.jpg);
    }
}
// Banner Loop For Multiple Pages

