@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $fontPrimary;
    background-image: url(../img/background-desck.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    @include md{
      background-image: url(../img/background-desck-re.png);
      background-repeat: no-repeat;
    }
}
h1, h2, h3, h4, h5, h6{
    margin: 0 !important;
}
a{
    text-decoration:none !important;
}
ul{padding:0 !important;}
li{list-style-type:none;}

p{
    font-family: 'gilroy-regularuploaded_file';
    margin:0 !important;
    padding:0;
    line-height: 21px;
    font-size: 16px;
    @include md{
      line-height: 18px;
      font-size: 14px;
    }
}


.save-the-date {
  text-align: center;
  padding-bottom: 15px;
  .main-header{
    margin-bottom: 32px;
    margin-top: 32px;
    img{
      @include md{
        width: 45%;
      }
    }
  }
  .save-content{
    @include md{
      padding: 0 29px;
    }
    @include sm{
      padding: 0 48px;
    }
    @include breakpoint(393px){
      padding: 0 38px;
    }
    @include breakpoint(375px){
      padding: 0 29px;
    }
    @include xs{
      padding: 0 1px
    }
    h1{ 
      font-weight: $extrabold;
      text-transform: uppercase;
      color: $white;
      @include FlexDAJ($d-fl,$di-ro,$al-ce,$ju-ce);
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: gilroyextrabold;
      span {
        font-weight: $light;
        font-size: 28px;
        margin: 0 4px 0 10px;
        position: relative;
        letter-spacing: 6px;
        font-family: 'gilroylight';
        @include md{
          font-size: 23px;
        }
        &:after{
          content: '';
          position: absolute;
          top: 1;
          left: 0;
          width: 91%;
          height: 1px;
          background-color: rgba($color: #fff, $alpha: 1.0);
        }
        &:before{
          content: '';
          position: absolute;
          bottom: 1px;
          left: 0;
          width: 91%;
          height: 1px;
          background-color: rgba($color: #fff, $alpha: 1.0);
        }
      }
    }
    h2{
      font-weight: $medium;
      background: #9B5C25;
      background: -webkit-radial-gradient(circle farthest-corner at bottom center, #9B5C25 0%, #FFE7A2 50%, #C59045 50%, #FFF5D7 50%, #BE7313 100%);
      background: -moz-radial-gradient(circle farthest-corner at bottom center, #9B5C25 0%, #FFE7A2 50%, #C59045 50%, #FFF5D7 50%, #BE7313 100%);
      background: radial-gradient(circle farthest-corner at bottom center, #9B5C25 0%, #FFE7A2 50%, #C59045 50%, #FFF5D7 50%, #BE7313 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      padding: 5px 0 7px;
      font-family: 'gilroy-mediumuploaded_file';
      @include md{
        font-size: 23px;
      }
    }
    h3{
      font-weight: $regular;
      color: $white;
      padding-bottom: 23px;
      font-family: 'gilroy-regularuploaded_file';
      @include md{
        padding-bottom: 15px;
      }
    }
    p{
      color: $white;
      padding-bottom: 21.5px;
    }
    .addeventatc{
        border: 1px solid #aa8058;
        background: #9B5C25;
        background: -webkit-radial-gradient(circle farthest-corner at bottom center, #9B5C25 0%, #FFE7A2 50%, #C59045 50%, #FFF5D7 50%, #BE7313 100%);
        background: -moz-radial-gradient(circle farthest-corner at bottom center, #9B5C25 0%, #FFE7A2 50%, #C59045 50%, #FFF5D7 50%, #BE7313 100%);
        background: radial-gradient(circle farthest-corner at bottom center, #9B5C25 0%, #FFE7A2 50%, #C59045 50%, #FFF5D7 50%, #BE7313 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        font-weight: $bold;
        font-size: 28px;
        padding: 7px 28px;
        border-radius: 35px;
        display: table;
        margin: 21px auto 14px;
        @include md{
          font-size: 18px;
          padding: 11px 22px;
          margin: 11px auto 14px;
        }
        .addeventatc_icon{
          display: none;
        }
        span {
          -webkit-text-fill-color: #000;
        }
    }
    h5{
      color: $white;
      padding-bottom: 7px;
      font-size: 16px;
    }
    .social-links{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      li{
        margin-right: 25px;
        &:last-child{
            margin-right: 0px;
        }
       
      }
    }
    .web_link {
      color: #fff;
      padding: 16px 0;
      display: table;
      margin: 0 auto;
    }
  }
}



.addeventatc_dropdown .copyx
{display:none !important;}

