@media (max-width:1600px) {
  
}
@media (max-width:1441px) {
   
}
@media (max-width:1367px) {
   
}
@media (max-width:1281px) {
   
}
@media (max-width:1200px) {
   
}
@media(max-width:1024px){
  
}
@media (max-width:993px) {
   
}

@media  (max-width:815px) {
    
}
@media  (max-width:768px) {
   
}

@media (max-width:576px) { 
    
}
@media (max-width:414px) {
   
}
@media (max-width:376px) {
    
}
@media (max-width:360px) {
 
}
@media (max-width:321px) {
   
}