
// Color theme
$theme-color-dark:#5d2468;
$theme-color-light:#6c2a78;
$white: #fff;
$black:#000;
// Color theme

// Padding
$p2: 2%;
$p3: 3%;
$p4: 4%;
$p5: 5%;
$p6: 6%;
$p7: 7%;
$p8: 8%;
$p9: 9%;
$p10: 10%;
// Padding


// Fon Weight
 $ExtraBold: 800;
 $Bold: 700;
 $SemiBold:600;
 $Medium:500;
 $Regular:400;
 $Light:300;
// Fon Weight



//FontSize Bootstrap Standard
$h1 : 2.5rem;  //40px
$h2 : 2rem;  //32px
$h3 : 1.75rem;  //28px
$h4 : 1.5rem;  //24px
$h5 : 1.25rem;  //20px
$h6 : 1rem;  //16px
$p : 1rem;
//FontSize Bootstrap Standard

// Theme Standard FontSize
$in-baner-h1:85px;
$in-baner-spn:42px;
// Theme Standard FontSize


//Flex Properties
$d-flex:flex;
$ju-co-st: start;
$ju-co-ce: center;
$ju-co-en: end;
$ju-co-be:space-between;
$al-it-st: flex-start;
$al-it-ce: center;
$al-it-en: flex-end;
$fl-di-co: column;
$fl-di-co-re: column-reverse;
$fl-di-ro: row;
$fl-di-ro-re: row-reverse;
//Flex Properties


// Border
$br-1 : 1px solid $theme-color-dark;
// Border



