@media (max-width: 1600px) {
  .side-main-nav {
    padding: 5% 6% 0%;
  }
  .side-main-nav .logo {
    padding-bottom: 15px;
  }
  .side-main-nav .logo img {
    width: 40%;
  }
}
@media (max-width: 1530px) {
  .side-main-nav {
    padding: 4% 6% 0%;
  }
  .side-main-nav .logo {
    padding-bottom: 21px;
  }
  .side-main-nav .logo img {
    width: 40%;
  }
  .side-main-nav .covid-response {
    font-size: 0.9rem;
    padding: 9px 22px;
    margin-top: 10px;
  }
  .side-main-nav .menu-coll-inner .main-menu li {
    padding: 8px 0;
  }

  .previous-comments .previous-left .convo-head-md {
    font-size: 2.9rem;
  }
  .previous-comments .previous-left .convo-head-lg {
    font-size: 80px !important;
    line-height: 75px;
  }
}
@media (max-width: 1366px) {
  .side-main-nav {
    padding: 4% 4% 0%;
  }
  .side-main-nav .logo {
    padding-bottom: 6px;
  }
  .side-main-nav .logo img {
    width: 40%;
  }
  .side-main-nav .covid-response {
    font-size: 0.9rem;
    padding: 8px 20px;
    margin-top: 6px;
  }
  .side-main-nav .menu-coll-inner .main-menu li {
    padding: 6px 0;
  }

  .previous-comments .previous-left .convo-head-md {
    font-size: 2.5rem;
  }
  .previous-comments .previous-left .convo-head-lg {
    font-size: 65px !important;
    line-height: 65px;
  }
}
@media (max-width: 1200px) {
  .side-main-nav.navbar-expand-lg {
    padding: 2% 2% 2%;
    display: flex;
    align-items: center;
  }
  .side-main-nav.navbar-expand-lg .logo {
    padding-bottom: 0;
  }
  .side-main-nav.navbar-expand-lg .logo img {
    width: 69%;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent {
    align-items: center;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner {
    display: flex;
    align-items: center;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .main-menu {
    padding: 0 19px;
    display: flex;
    justify-content: space-between;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .main-menu li {
    margin-right: 10px;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .main-menu li a {
    font-size: 0.86rem;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .covid-response {
    font-size: 1rem;
    margin-top: 0;
    padding: 7px 11px;
  }
}
@media (max-width: 1025px) {
  .side-main-nav.navbar-expand-lg {
    padding: 2% 1% 2%;
    display: flex;
    align-items: center;
  }

  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .covid-response {
    font-size: 0.8rem;
    margin-top: 0;
    padding: 7px 6px;
  }

  .covid-response img {
    width: 25px;
  }
}
@media (max-width: 993px) {
  .side-main-nav {
    padding: 2% 5% 2%;
    display: block !important;
  }
  .side-main-nav .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    width: 100%;
  }
  .side-main-nav .logo img {
    width: 16% !important;
  }
  .side-main-nav .navbar-collapse .menu-coll-inner {
    display: block !important;
  }
  .side-main-nav .navbar-collapse .menu-coll-inner .main-menu {
    display: block !important;
  }
  .side-main-nav .navbar-collapse .menu-coll-inner .main-menu li {
    padding: 6px 0;
  }
  .side-main-nav .covid-response {
    padding: 9px 11px;
    margin-bottom: 13px;
  }

  .previous-comments .previous-left {
    padding: 10px 0 40px;
  }
  .previous-comments .previous-left .convo-head-md {
    font-size: 2.55rem;
    padding-bottom: 0px;
  }
  .previous-comments .previous-left .convo-head-lsm.convo-head-lg {
    font-size: 70px !important;
    line-height: 70px;
  }
  .division-box {
    padding: 53px 0;
  }
  .division-box .division-img::before {
    background-size: 75%;
    top: -60px;
    right: -36px;
  }

  .collapse#navbarSupportedContent:not(.show) {
    display: none !important;
  }

  .navbar-expand-lg .navbar-toggler {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  .side-main-nav {
    padding: 2% 4% 2% !important;
  }
  .side-main-nav .logo img {
    width: 17% !important;
  }

  .previous-comments .previous-left .convo-head-md {
    font-size: 2.5rem;
    padding-bottom: 0px;
  }
  .previous-comments .previous-left .convo-head-lsm.convo-head-lg {
    font-size: 70px !important;
    line-height: 70px;
  }
  .previous-comments .previous-left .play-icon {
    bottom: 62px;
  }
  .previous-comments .previous-comments-content {
    padding: 5% 0 0 4%;
  }
  .previous-comments .social-item {
    position: initial;
    transform: rotate(0deg) translate(0, 0);
    padding: 20px 0 0 15px;
  }

  .division-box {
    padding: 23px 0;
  }
  .division-box .division-img::before {
    background-size: 65%;
    top: 60px;
    right: -36px;
    height: 500px;
    width: 580px;
  }

  .division-box.graduate-box .divsion-content {
    margin-top: 20px;
  }
  .division-box.graduate-box .divsion-content p br {
    display: none;
  }
  .division-box.graduate-box .divsion-content h3 {
    font-size: 1.55rem;
  }

  .remember-dates-area .remember-dates-are-in h1 {
    font-size: 2rem;
    text-align: center;
  }
  .remember-dates-area .graduation-ceremony {
    padding: 5% 4% !important;
  }
  .remember-dates-area .graduation-ceremony h2 {
    font-size: 1.5rem !important;
  }
  .remember-dates-area .graduation-ceremony h4 {
    font-size: 1.2rem !important;
  }
  .remember-dates-area .graduation-ceremony .ceremony-list {
    width: 100% !important;
  }
  .remember-dates-area .cermony-img-parent {
    position: initial !important;
  }
  .remember-dates-area .cermony-img-parent .cermony-img {
    display: none;
  }
  .remember-dates-area .cermony-img-parent .cermony-img::before {
    display: none;
  }

  .next-genration .sec-heading {
    padding-bottom: 20px;
  }
  .next-genration .sec-heading h1 {
    font-size: 2rem;
  }
  .next-genration .coomon-responsove-slider {
    margin: 0;
  }
  .next-genration .generation-box-parent {
    width: 100%;
  }
  .next-genration .generation-box-parent .generation-box {
    margin-bottom: 15px;
  }
  .next-genration .generation-box-parent .generation-box::before {
    display: none;
  }
  .next-genration .generation-box-parent .generation-box .gene-content {
    padding: 10px 18px 8px;
  }
  .next-genration .generation-box-parent .generation-box .gene-content p {
    padding-top: 0px;
  }
  .next-genration .generation-box-parent .generation-box .gene-content h3 {
    margin: 0;
  }
}
@media (max-width: 575px) {
  .side-main-nav {
    padding: 2% 4% 2% !important;
  }
  .side-main-nav .logo img {
    width: 23%;
  }

  .previous-comments .previous-left {
    padding: 17px 0 25px;
  }
  .previous-comments .previous-left .convo-head-lsm.convo-head-lg {
    font-size: 64px !important;
    line-height: 65px;
  }
  .previous-comments .previous-left .play-icon {
    bottom: 43px;
  }

  .division-box .division-img {
    display: flex;
    justify-content: center;
  }
  .division-box .division-img::before {
    display: none;
  }
  .division-box .division-img img {
    width: auto;
  }

  .next-genration .sec-heading {
    padding-bottom: 20px;
  }
  .next-genration .sec-heading h1 {
    font-size: 2rem;
  }
  .next-genration .coomon-responsove-slider {
    margin: 0;
  }
  .next-genration .generation-box-parent {
    width: 100%;
  }
  .next-genration .generation-box-parent .generation-box {
    margin-bottom: 0;
  }
  .next-genration .generation-box-parent .generation-box::before {
    display: none;
  }
  .next-genration .generation-box-parent .generation-box .gene-content {
    padding: 0 16px 16px;
  }
  .next-genration .generation-box-parent .generation-box .gene-content p {
    padding-top: 0;
    line-height: 22px;
  }
  .next-genration .generation-box-parent .generation-box .gene-content h3 {
    font-size: 1.25rem;
    margin: 0;
  }

  .division-box.graduate-box .divsion-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
  html p {
    font-size: 1.2rem;
  }

  .side-main-nav {
    padding: 2% 4% 2% !important;
  }

  .division-box .division-img img {
    width: 100% !important;
  }
}
@media (max-width: 320px) {
  .side-main-nav {
    padding: 7% 7% 7%;
  }
}

/*# sourceMappingURL=breakpoints.css.map */
