// Screen Sizes
$breakpoints:(
    'xs': 320px,
    "sm": 480px,
    "lsm": 575px,
    "md": 768px,
    "lg": 993px,
    "xl": 1280px,
);
// Screen Sizes


// All Break Point Mixins
@mixin xs {
 @media (max-width: map-get($breakpoints, "xs")) {
     @content;
 }
}

@mixin sm {
    @media (max-width: map-get($breakpoints, "sm")) {
        @content;
    }
}

@mixin lsm {
    @media (max-width: map-get($breakpoints, "lsm")) {
        @content;
    }
}

@mixin md {
    @media (max-width: map-get($breakpoints, "md")) {
        @content;
    }
}

@mixin lg {
    @media (max-width: map-get($breakpoints, "lg")) {
        @content;
    }
}

@mixin xl {
    @media (max-width: map-get($breakpoints, "xl")) {
        @content;
    }
}
// All Break Point Mixins




// For Other Specific Screen Accept Above all 
@mixin breakpoint($bp:0) {
    @media (max-width: $bp) {
        @content;
    }
}
// For Other Specific Screen Accept Above all
@include breakpoint(1600px){
    // Left Side Menu Css
    .side-main-nav {
        padding: 5% 6% 0%;
        .logo {
            padding-bottom: 15px;
            img{
                width: 40%;
            }
        }
    }
    // Left Side Menu Css
}

@include breakpoint(1530px){
    // Left Side Menu Css
    .side-main-nav {
        padding: 4% 6% 0%;
        .logo {
            padding-bottom: 21px;
            img{
                width: 40%;
            }
        }
        .covid-response {
            font-size: 0.9rem;
            padding: 9px 22px;
            margin-top: 10px;
        }
        .menu-coll-inner{
            .main-menu{
                li{
                    padding: 8px 0;
                }
            }
        }
    }
    // Left Side Menu Css

    .previous-comments {
        .previous-left {
            .convo-head-md{
                font-size: 2.9rem;
            }
            .convo-head-lg{
                font-size: 80px !important;
                line-height: 75px;
            }
        }
    }
}

@include breakpoint(1366px){
    // Left Side Menu Css
    .side-main-nav {
        padding: 4% 4% 0%;
        .logo {
            padding-bottom: 6px;
            img {
                width: 40%;
            }
        }
        .covid-response {
            font-size: 0.9rem;
            padding: 8px 20px;
            margin-top: 6px;
        }
        .menu-coll-inner{
            .main-menu{
                li{
                    padding: 6px 0;
                }
            }
        }
    }
    // Left Side Menu Css


    .previous-comments {
        .previous-left {
            .convo-head-md{
                font-size: 2.5rem;
            }
            .convo-head-lg{
                font-size: 65px !important;
                line-height: 65px;
            }
        }
    }
}


@include breakpoint(1200px){
    .side-main-nav.navbar-expand-lg{
        padding: 2% 2% 2%;
        display: flex;
        align-items: center;
        .logo {
            padding-bottom: 0;
            img {
                width: 69%;
            }
        }
        div#navbarSupportedContent {
            align-items: center;
            .menu-coll-inner {
                display: flex;
                align-items: center;
                .main-menu {
                    padding: 0 19px;
                    display: flex;
                    justify-content: space-between;
                    li {
                        margin-right: 10px;
                        a {
                            font-size: 0.86rem;
                        }
                    }
                }
                .covid-response {
                    font-size: 1rem;
                    margin-top: 0;
                    padding: 7px 11px;
                }
            }
        }
    }
   
}

@include breakpoint(1025px){
    .side-main-nav.navbar-expand-lg {
        padding: 2% 1% 2%;
        display: flex;
        align-items: center;
    }
    .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .covid-response {
        font-size: 0.8rem;
        margin-top: 0;
        padding: 7px 6px;
    }
    .covid-response img {
        width: 25px;
    }
   
}

@include lg{
    // Left Side Menu Css
    .side-main-nav {
        padding: 2% 5% 2%;
        display: block !important;
        .logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 0;
            width: 100%;
            img{
                width: 16% !important;
            }
        }
        
        .navbar-collapse{
            .menu-coll-inner{
                display: block !important;
                .main-menu{
                    display: block !important;
                    li{
                        padding: 6px 0;
                    }
                }
            }
        }
        .covid-response{
            padding: 9px 11px;
            margin-bottom: 13px;
        }
    }
    // Left Side Menu Css
    
    // Previouse Comments
    .previous-comments{
        .previous-left{
            padding: 10px 0 40px;
            .convo-head-md{
                font-size: 2.55rem;
                padding-bottom: 0px;
            }
            .convo-head-lsm.convo-head-lg{
                font-size: 70px !important;
                line-height: 70px;
            }
            .play-icon{
            }
        }
        .previous-comments-content{
        }
        .social-item{
        }
    }
    // Previouse Comments

    // Division Box 
    .division-box{
        padding: 53px 0;
        .division-img{
            &::before{
                background-size: 75%;
                top: -60px;
                right: -36px;
            }
        }
    }
    // Division Box

    .collapse#navbarSupportedContent:not(.show) {
        display: none !important;
    }
    .navbar-expand-lg .navbar-toggler {
        display: flex !important;
    }
}

@include md{
    // Left Side Menu Css
    .side-main-nav {
        padding: 2% 4% 2% !important;
        .logo{
            img{
                width: 17% !important;
            }
        }
    }
    // Left Side Menu Css

    // Previouse Comments
    .previous-comments{
        .previous-left{
            .convo-head-md{
                font-size: 2.5rem;
                padding-bottom: 0px;
            }
            .convo-head-lsm.convo-head-lg{
                font-size: 70px !important;
                line-height: 70px;
            }
            .play-icon{
                bottom: 62px;
            }
        }
        .previous-comments-content{
            padding: 5% 0 0 4%;
        }
        .social-item{
            position: initial;
            transform: rotate(0deg) translate(0, 0);
            padding: 20px 0 0 15px;
        }
    }
    // Previouse Comments


    // Division Box
    .division-box{
        .division-img{
            &::before{
                background-size: 65%;
                top: 60px;
                right: -36px;
                height: 500px;
                width: 580px;
            }
        }
            padding: 23px 0;
    }
    .division-box.graduate-box{
        .divsion-content{
            margin-top: 20px;
            p{
                br{
                    display: none;
                }
            }
            h3{
                font-size: 1.55rem;
            }
        }
    }
    // Division Box


    // Remember Dates Area
    .remember-dates-area{
        .remember-dates-are-in{
            h1{
                font-size: 2rem;
                text-align: center;
            }
        }
        .graduation-ceremony{
            padding: 5% 4% !important;
            h2{
                font-size: 1.5rem !important;
            }
            h4{
                font-size: 1.2rem !important;
            }
            .ceremony-list{
                width: 100% !important;
            }
        }
        .cermony-img-parent{
            position: initial !important;
        }
        .cermony-img-parent{
            .cermony-img{
                display: none;
                &::before{
                 display: none;
                }
            }
        }
    }
    // Remember Dates Area

    // Next Generation
    .next-genration{
        .sec-heading{
            padding-bottom: 20px;
            h1{
                font-size: 2rem;
            }
        }
        .coomon-responsove-slider{
            margin: 0;
        }
        .generation-box-parent{
            width: 100%;
            .generation-box{
                margin-bottom: 15px;
                &::before{
                    display: none;
                }
                .gene-content{
                    padding: 10px 18px 8px;
                    p{
                        padding-top: 0px;
                    }
                    h3{
                        margin: 0;
                    }
                }
            }
        }
    }
    // Next Generation    

}

@include lsm{
    // Left Side Menu Css
    .side-main-nav {
        padding: 2% 4% 2% !important;
        .logo{
            img{
                width: 23%;
            }
        }
    }
    // Left Side Menu Css
    
    // Previouse Comments
    .previous-comments{
        .previous-left{
            padding: 17px 0 25px;
            .convo-head-lsm.convo-head-lg{
                font-size: 64px !important;
                line-height: 65px;
            }
            .play-icon{
                bottom: 43px;
            }
        }
    
    }
    // Previouse Comments
    .division-box{
        .division-img{
            display: flex;
            justify-content: center;
            &::before{
                display: none;
            }
            img{
                width: auto;
            }
        }
    }

    // Next Generation 
    .next-genration{
        .sec-heading{
            padding-bottom: 20px;
            h1{
                font-size: 2rem;
            }
        }
        .coomon-responsove-slider{
            margin: 0;
        }
        .generation-box-parent{
            width: 100%;
            .generation-box{
                margin-bottom: 0;
                &::before{
                    display: none;
                }
                .gene-content{
                    padding: 0 16px 16px;
                    p{
                        padding-top: 0;
                        line-height: 22px;
                    }
                    h3{
                        font-size: 1.25rem;
                        margin: 0;
                    }
                }
            }
        }
    }
    // Next Generation 

    // Division Box
    .division-box.graduate-box{
        .divsion-content{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    // Division Box


  
    
}

@include sm{
    html{
        font-size: 14px;
        p{
            font-size: 1.2rem;
        }
    }


    // Left Side Menu Css
    .side-main-nav {
        padding: 2% 4% 2% !important;
    }
    // Left Side Menu Css
  


    // Previouse Comments
    .previous-comments{
        .previous-left{
            .convo-head-md{

            }
            .convo-head-lsm.convo-head-lg{

            }
            .play-icon{
            }
        }
        .previous-comments-content{
        }
        .social-item{
        }
    }
    // Previouse Comments

    // Division Box
    .division-box{
        .division-img{
            img{
                width: 100% !important;
            }
        }
    }
    // Division Box
}

@include xs{

    // Left Side Menu Css
    .side-main-nav {
        padding: 7% 7% 7%;
    }
    // Left Side Menu Css

    // Previouse Comments
    .previous-comments{
        .previous-left{
            .convo-head-md{

            }
            .convo-head-lsm.convo-head-lg{

            }
            .play-icon{
            }
        }
        .previous-comments-content{
        }
        .social-item{
        }
    }
    // Previouse Comments
}



