/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

p, ul {
  margin: 0 !important;
}

.main-menu {
  padding: 0 19px;
}
.main-menu a {
  font-size: 1rem;
  color: #5d2468;
  position: relative;
  transition: all 0.5s;
}
.main-menu a:hover {
  font-weight: 600;
}
.main-menu a:hover span {
  left: -15px;
  opacity: 1;
  transition: all 0.5s;
}
.main-menu a span {
  width: 14px;
  height: 2.7px;
  background: #5d2468;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  top: 40%;
  left: 0px;
  opacity: 0;
  transition: all 0.5s;
}
.main-menu li {
  line-height: 20px;
  padding: 9px 0;
}

.side-main-nav {
  padding: 10% 10% 0%;
}
.side-main-nav .covid-response {
  font-size: 1rem;
  color: #5d2468;
  border: 1px solid #5d2468;
  padding: 10px 33px;
  display: table;
  margin-top: 13px;
}
.side-main-nav .cooming-soon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 201px;
  border: 1.95px solid #5d2468;
  color: #5d2468;
  font-weight: 500;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
}
.side-main-nav .cooming-soon-btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.side-main-nav .cooming-soon-btn span img {
  margin-right: 7px;
}
.side-main-nav .cooming-soon-btn span i {
  margin-right: 7px;
}
.side-main-nav .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.side-main-nav .cooming-soon-btn:hover {
  background-color: #5d2468;
  color: #fff;
}
.side-main-nav .cooming-soon-btn:hover .btn-hover-down {
  bottom: 20px;
}
.side-main-nav .cooming-soon-btn:hover .btn-hover-down span img {
  filter: brightness(0) invert(1);
}

.logo {
  padding-bottom: 31px;
  /* Responsive Menu Bar Animation */
  /* Responsive Menu Bar Animation */
}
.logo img {
  width: 50%;
}
.logo .navbar-toggler {
  border: none;
  outline: none;
  padding: 0;
}
.logo .navbar-toggler #nav-icon3 {
  width: 34px;
  height: 21px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.logo .navbar-toggler span {
  display: block;
  position: absolute;
  height: 3px;
  width: 77%;
  background: #602567;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.logo .navbar-toggler span:nth-child(1) {
  top: 0px;
}
.logo .navbar-toggler span:nth-child(2), .logo .navbar-toggler span:nth-child(3) {
  top: 8px;
}
.logo .navbar-toggler span:nth-child(4) {
  top: 17px;
}
.logo .navbar-toggler #nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.logo .navbar-toggler #nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.logo .navbar-toggler #nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.logo .navbar-toggler #nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.main-slider .owl-nav {
  position: relative;
  right: 20px;
  bottom: 16px;
  margin: 0 !important;
}
.main-slider .owl-nav button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.main-slider .owl-nav .owl-prev {
  right: 58px !important;
}

.previous-comments {
  position: relative;
}
.previous-comments .previous-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #5d2468;
  padding: 27px 0 65px;
}
.previous-comments .previous-left .play-icon {
  position: absolute;
  bottom: 23px;
  right: 23px;
}
.previous-comments .previous-left .convo-head-md {
  color: #5d2468;
  -webkit-text-fill-color: #5d2468;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  text-align: center;
  padding-bottom: 11px;
  font-size: 3.7rem;
}
.previous-comments .previous-left .convo-head-md span {
  display: block;
  -webkit-text-fill-color: #fff;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  text-align: right;
  font-size: 18px;
}
.previous-comments .previous-left .convo-head-lg {
  font-weight: 700;
  color: #6c2a78;
  font-size: 100px !important;
  line-height: 85px;
  margin: 0;
}
.previous-comments .previous-comments-content {
  padding: 8% 0 0 8%;
}
.previous-comments .previous-comments-content h3 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.75rem;
}
.previous-comments .previous-comments-content p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
}
.previous-comments .previous-comments-content .year-abstracts {
  display: flex;
  padding-top: 20px;
}
.previous-comments .previous-comments-content .year-abstracts li {
  margin-right: 23px;
}
.previous-comments .previous-comments-content .year-abstracts li a {
  font-size: 1rem;
  color: #5d2468;
  font-weight: 600;
  border-bottom: 2px solid #6c2a78;
  line-height: 30px;
  padding-bottom: 3px;
}
.previous-comments .social-item {
  position: absolute;
  right: 0;
  transform: rotate(270deg) translate(-50%, 60px);
  top: 50%;
}
.previous-comments .social-item ul {
  display: flex;
}
.previous-comments .social-item ul li {
  list-style-type: none;
  margin-right: 15px;
}
.previous-comments .social-item ul li a {
  font-size: 1rem;
  color: #5d2468;
}
.previous-comments .social-item ul li a i {
  font-size: 18px;
}

.division-box {
  padding: 123px 0;
}
.division-box .divsion-content h3 {
  font-weight: 700;
  color: #5d2468;
  font-size: 1.75rem;
}
.division-box .divsion-content .pad-para {
  padding: 7px 0 13px;
}
.division-box .divsion-content p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
}
.division-box .division-img {
  position: relative;
}
.division-box .division-img::before {
  background-image: url(../img/hu-icon.svg);
  background-size: 95%;
  background-repeat: no-repeat;
  height: 760px;
  width: 770px;
  top: -120px;
  right: 184px;
  content: "";
  position: absolute;
}
.division-box .division-img img {
  width: 100%;
}

.next-genration {
  padding: 25px 0;
}
.next-genration .sec-heading {
  text-align: center;
  padding-bottom: 50px;
}
.next-genration .sec-heading h1 {
  font-weight: 700;
  color: #5d2468;
  font-size: 2.5rem;
}
.next-genration .sec-heading h5 {
  color: #5d2468;
  font-size: 1.25rem;
}
.next-genration .generation-box-parent {
  width: 45%;
}
.next-genration .generation-box-parent .generation-box {
  position: relative;
  cursor: pointer;
  margin-bottom: 93px;
}
.next-genration .generation-box-parent .generation-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #5d2468;
  top: 23px;
  right: 23px;
  z-index: -1;
  transition: all 0.5s;
}
.next-genration .generation-box-parent .generation-box:hover::before {
  top: 0;
  right: 0;
}
.next-genration .generation-box-parent .generation-box img {
  width: 100%;
}
.next-genration .generation-box-parent .generation-box .gene-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 32px 32px;
}
.next-genration .generation-box-parent .generation-box .gene-content p {
  font-size: 1rem;
  color: #5d2468;
  line-height: 25px;
  color: #fff;
  padding-top: 10px;
}
.next-genration .generation-box-parent .generation-box .gene-content h3 {
  color: #fff;
  font-weight: 700;
  font-size: 1.75rem;
}
.next-genration .generation-box-parent .generation-box .gene-content h5 {
  color: #fff;
  font-size: 1.25rem;
}

.graduate-box .division-img::before {
  display: none;
}
.graduate-box .divsion-content .cooming-soon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  border: 1.95px solid #5d2468;
  color: #5d2468;
  font-weight: 500;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
}
.graduate-box .divsion-content .cooming-soon-btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.graduate-box .divsion-content .cooming-soon-btn span img {
  margin-right: 7px;
}
.graduate-box .divsion-content .cooming-soon-btn span i {
  margin-right: 7px;
}
.graduate-box .divsion-content .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.graduate-box .divsion-content .cooming-soon-btn:hover {
  background-color: #5d2468;
  color: #fff;
}
.graduate-box .divsion-content .cooming-soon-btn:hover .btn-hover-down {
  bottom: 20px;
}
.graduate-box .divsion-content .cooming-soon-btn:hover .btn-hover-down span img {
  filter: brightness(0) invert(1);
}

.remember-dates-area .remember-dates-are-in {
  position: relative;
}
.remember-dates-area .remember-dates-are-in h1 {
  font-weight: 700;
  color: #5d2468;
  font-size: 2.5rem;
  text-align: right;
}
.remember-dates-area .remember-dates-are-in h1 span {
  font-weight: 400;
  display: block;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony {
  background-image: url(../img/remember-dates-bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 9%;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony h2 {
  font-weight: 700;
  color: #fff;
  font-size: 2rem;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony h4 {
  font-weight: 700;
  color: #fff;
  font-size: 1.5rem;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .ceremony-list {
  width: 70%;
  padding-top: 10px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .ceremony-list li {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-bottom: 17px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .ceremony-list li span {
  width: 30%;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127px;
  border: 1.95px solid #fff;
  color: #fff;
  font-weight: 500;
  margin-top: 13px;
  overflow: hidden;
  height: 40px;
  transition: all 0.5s;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn span img {
  margin-right: 7px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn span i {
  margin-right: 7px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn .btn-hover-down {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn:hover {
  background-color: #5d2468;
  color: #fff;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn:hover .btn-hover-down {
  bottom: 20px;
}
.remember-dates-area .remember-dates-are-in .graduation-ceremony .cooming-soon-btn:hover .btn-hover-down span img {
  filter: brightness(0) invert(1);
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent {
  position: absolute;
  right: 35px;
  bottom: -85px;
}
.remember-dates-area .remember-dates-are-in .cermony-img-parent .cermony-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #5d2468;
  left: 23px;
  z-index: -1;
  bottom: 35px;
}

section.insta-feed-area {
  padding: 130px 0 40px;
  overflow: hidden;
}

footer {
  padding-bottom: 15px;
}
footer .footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-inner ul {
  display: flex;
  margin: 10px 0 10px !important;
}
footer .footer-inner ul li {
  margin-right: 15px;
}
footer .footer-inner .fol-para {
  font-weight: 500;
}
footer .footer-inner .copy-right {
  color: #5d2468;
}

/*# sourceMappingURL=style.css.map */
