/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote:before, blockquote:after {
    content: "";
    content: none;
  }
  
  q:before, q:after {
    content: "";
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .main-menu {
    padding: 0 19px;
  }
  .main-menu a {
    font-size: 16px;
    color: #5d2468;
    position: relative;
    transition: all 0.5s;
  }
  .main-menu a:hover {
    font-weight: 600;
  }
  .main-menu a:hover span {
    left: -15px;
    opacity: 1;
    transition: all 0.5s;
  }
  .main-menu a span {
    width: 14px;
    height: 2.7px;
    background: #5d2468;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    top: 40%;
    left: 0px;
    opacity: 0;
    transition: all 0.5s;
  }
  .main-menu li {
    line-height: 20px;
    padding: 7px 0;
  }
  
  .side-main-nav {
    padding: 10%;
  }
  .side-main-nav .covid-response {
    border: 1px solid #5d2468;
    padding: 10px 33px;
    display: table;
    color: #5d2468;
    font-size: 16px;
  }
  
  .logo {
    padding-bottom: 31px;
  }
  
  .main-slider .owl-nav {
    position: relative;
    right: 20px;
    bottom: 16px;
  }
  .main-slider .owl-nav button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .main-slider .owl-nav .owl-prev {
    right: 58px !important;
  }
  
  /*# sourceMappingURL=style.css.map */
  