@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"), url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroylight";
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"), url("../fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-regularuploaded_file";
  src: url("../fonts/gilroy-regular-webfont.woff2") format("woff2"), url("../fonts/gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-bolduploaded_file";
  src: url("../fonts/gilroy-bold-webfont.woff2") format("woff2"), url("../fonts/gilroy-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-mediumuploaded_file";
  src: url("../fonts/gilroy-medium-webfont.woff2") format("woff2"), url("../fonts/gilroy-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "gilroy-regularuploaded_file";
  background-image: url(../img/background-desck.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
}

li {
  list-style-type: none;
}

p {
  font-family: "gilroy-regularuploaded_file";
  margin: 0 !important;
  padding: 0;
  line-height: 21px;
  font-size: 16px;
}


.save-the-date {
  text-align: center;
  padding-bottom: 15px;
}
.save-the-date .main-header {
  margin-bottom: 32px;
  margin-top: 32px;
}

.save-the-date .save-content h1 {
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: gilroyextrabold;
}
.save-the-date .save-content h1 span {
  font-weight: 300;
  font-size: 28px;
  margin: 0 4px 0 10px;
  position: relative;
  letter-spacing: 6px;
  font-family: "gilroylight";
}

.save-the-date .save-content h1 span:after {
  content: "";
  position: absolute;
  top: 1;
  left: 0;
  width: 91%;
  height: 1px;
  background-color: white;
}
.save-the-date .save-content h1 span:before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 91%;
  height: 1px;
  background-color: white;
}
.save-the-date .save-content h2 {
  font-weight: 500;
  background: #9B5C25;
  background: -webkit-radial-gradient(circle farthest-corner at bottom center, #9B5C25 0%, #FFE7A2 50%, #C59045 50%, #FFF5D7 50%, #BE7313 100%);
  background: -moz-radial-gradient(circle farthest-corner at bottom center, #9B5C25 0%, #FFE7A2 50%, #C59045 50%, #FFF5D7 50%, #BE7313 100%);
  background: radial-gradient(circle farthest-corner at bottom center, #9B5C25 0%, #FFE7A2 50%, #C59045 50%, #FFF5D7 50%, #BE7313 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  padding: 5px 0 7px;
  font-family: "gilroy-mediumuploaded_file";
}

.save-the-date .save-content h3 {
  font-weight: 400;
  color: #fff;
  padding-bottom: 23px;
  font-family: "gilroy-regularuploaded_file";
}

.save-the-date .save-content p {
  color: #fff;
  padding-bottom: 21.5px;
}
.save-the-date .save-content .addeventatc {
  border: 1px solid #aa8058;
  background: #9B5C25;
  background: -webkit-radial-gradient(circle farthest-corner at bottom center, #9B5C25 0%, #FFE7A2 50%, #C59045 50%, #FFF5D7 50%, #BE7313 100%);
  background: -moz-radial-gradient(circle farthest-corner at bottom center, #9B5C25 0%, #FFE7A2 50%, #C59045 50%, #FFF5D7 50%, #BE7313 100%);
  background: radial-gradient(circle farthest-corner at bottom center, #9B5C25 0%, #FFE7A2 50%, #C59045 50%, #FFF5D7 50%, #BE7313 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  padding: 7px 28px;
  border-radius: 35px;
  display: table;
  margin: 21px auto 14px;
}

.save-the-date .save-content .addeventatc .addeventatc_icon {
  display: none;
}
.save-the-date .save-content .addeventatc span {
  -webkit-text-fill-color: #000;
}
.save-the-date .save-content h5 {
  color: #fff;
  padding-bottom: 7px;
  font-size: 16px;
}
.save-the-date .save-content .social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
.save-the-date .save-content .social-links li {
  margin-right: 25px;
}
.save-the-date .save-content .social-links li:last-child {
  margin-right: 0px;
}
.save-the-date .save-content .web_link {
  color: #fff;
  padding: 16px 0;
  display: table;
  margin: 0 auto;
}

.addeventatc_dropdown .copyx {
  display: none !important;
}


/* Responsive */
@media (max-width: 768px) {
  body {
    background-image: url(../img/background-desck-re.png);
    background-repeat: no-repeat;
    height: 100vh;
  }
  p {
    line-height: 18px;
    font-size: 14px;
  }
  .save-the-date .main-header img {
    width: 45%;
  }
  .save-the-date .save-content {
    padding: 0 29px;
  }
  .save-the-date .save-content h1 span {
    font-size: 23px;
  }
  .save-the-date .save-content h2 {
    font-size: 23px;
  }
  .save-the-date .save-content h3 {
    padding-bottom: 15px;
  }
  .save-the-date .save-content .addeventatc {
    font-size: 18px;
    padding: 11px 22px;
    margin: 11px auto 14px;
  }
}
@media (max-width: 480px) {
  .save-the-date .save-content {
    padding: 0 48px;
  }
}
@media (max-width: 393px) {
  .save-the-date .save-content {
    padding: 0 38px;
  }
}
@media (max-width: 375px) {
  .save-the-date .save-content {
    padding: 0 29px;
  }
}
@media (max-width: 320px) {
  .save-the-date .save-content {
    padding: 0 1px;
  }
}
/* Responsive */
