.banner-18 {
  background-image: url(../img/bg/banner-18.jpg);
}

.banner-19 {
  background-image: url(../img/bg/banner-19.jpg);
}

.banner-20 {
  background-image: url(../img/bg/banner-20.jpg);
}

.banner-21 {
  background-image: url(../img/bg/banner-21.jpg);
}

.banner-22 {
  background-image: url(../img/bg/banner-22.jpg);
}

.banner-23 {
  background-image: url(../img/bg/banner-23.jpg);
}

@media (max-width: 1600px) {
  .side-main-nav {
    padding: 5% 6% 0%;
  }
  .side-main-nav .logo {
    padding-bottom: 15px;
  }
  .side-main-nav .logo img {
    width: 40%;
  }
}
@media (max-width: 1530px) {
  .side-main-nav {
    padding: 4% 6% 0%;
  }
  .side-main-nav .logo {
    padding-bottom: 21px;
  }
  .side-main-nav .logo img {
    width: 40%;
  }
  .side-main-nav .covid-response {
    font-size: 0.9rem;
    padding: 9px 22px;
    margin-top: 10px;
  }
  .side-main-nav .menu-coll-inner .main-menu li {
    padding: 8px 0;
  }

  .previous-comments .previous-left .convo-head-md {
    font-size: 2.9rem;
  }
  .previous-comments .previous-left .convo-head-lg {
    font-size: 80px !important;
    line-height: 75px;
  }
}
@media (max-width: 1366px) {
  .side-main-nav {
    padding: 4% 4% 0%;
  }
  .side-main-nav .logo {
    padding-bottom: 6px;
  }
  .side-main-nav .logo img {
    width: 40%;
  }
  .side-main-nav .covid-response {
    font-size: 0.9rem;
    padding: 8px 20px;
    margin-top: 6px;
  }
  .side-main-nav .menu-coll-inner .main-menu li {
    padding: 6px 0;
  }

  .previous-comments .previous-left .convo-head-md {
    font-size: 2.5rem;
  }
  .previous-comments .previous-left .convo-head-lg {
    font-size: 65px !important;
    line-height: 65px;
  }
}
@media (max-width: 1200px) {
  .side-main-nav.navbar-expand-lg {
    padding: 2% 2% 2%;
    display: flex;
    align-items: center;
  }
  .side-main-nav.navbar-expand-lg .logo {
    padding-bottom: 0;
  }
  .side-main-nav.navbar-expand-lg .logo img {
    width: 69%;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent {
    align-items: center;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner {
    display: flex;
    align-items: center;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .main-menu {
    padding: 0 19px;
    display: flex;
    justify-content: space-between;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .main-menu li {
    margin-right: 10px;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .main-menu li a {
    font-size: 0.86rem;
  }
  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .covid-response {
    font-size: 1rem;
    margin-top: 0;
    padding: 7px 11px;
  }

  .inner-banner {
    padding: 154px 0;
  }

  .graduation-para .miles-count::after {
    width: 48px;
  }

  .graduation-miles-banner .banner-cont-grad .banner-title {
    font-size: 64px !important;
    line-height: 64px !important;
  }

  .registaion-form-area.regalia .rgist-box {
    margin-right: 21px;
  }

  .registaion-form-area.award-graduation .brder-around {
    left: 20px;
  }
  .registaion-form-area.award-graduation .rgist-box {
    margin-right: 0;
  }
  .registaion-form-area.award-graduation .rgist-box .madel-btch {
    width: 21%;
  }
}
@media (max-width: 1025px) {
  .side-main-nav.navbar-expand-lg {
    padding: 2% 1% 2%;
    display: flex;
    align-items: center;
  }

  .side-main-nav.navbar-expand-lg div#navbarSupportedContent .menu-coll-inner .covid-response {
    font-size: 0.8rem;
    margin-top: 0;
    padding: 7px 6px;
  }

  .covid-response img {
    width: 25px;
  }
}
@media (max-width: 993px) {
  .side-main-nav {
    padding: 2% 5% 2%;
    display: block !important;
  }
  .side-main-nav .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    width: 100%;
  }
  .side-main-nav .logo img {
    width: 16% !important;
  }
  .side-main-nav .navbar-collapse .menu-coll-inner {
    display: block !important;
  }
  .side-main-nav .navbar-collapse .menu-coll-inner .main-menu {
    display: block !important;
  }
  .side-main-nav .navbar-collapse .menu-coll-inner .main-menu li {
    padding: 6px 0;
  }
  .side-main-nav .covid-response {
    padding: 9px 11px;
    margin-bottom: 13px;
  }

  .previous-comments .previous-left {
    padding: 10px 0 40px;
  }
  .previous-comments .previous-left .convo-head-md {
    font-size: 2.55rem;
    padding-bottom: 0px;
  }
  .previous-comments .previous-left .convo-head-lsm.convo-head-lg {
    font-size: 70px !important;
    line-height: 70px;
  }
  .division-box {
    padding: 53px 0;
  }
  .division-box .division-img::before {
    background-size: 75%;
    top: -60px;
    right: -36px;
  }

  .collapse#navbarSupportedContent:not(.show) {
    display: none !important;
  }

  .navbar-expand-lg .navbar-toggler {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  .side-main-nav {
    padding: 2% 4% 2% !important;
  }
  .side-main-nav .logo img {
    width: 17% !important;
  }

  .previous-comments .previous-left .convo-head-md {
    font-size: 2.5rem;
    padding-bottom: 0px;
  }
  .previous-comments .previous-left .convo-head-lsm.convo-head-lg {
    font-size: 70px !important;
    line-height: 70px;
  }
  .previous-comments .previous-left .play-icon {
    bottom: 62px;
  }
  .previous-comments .previous-comments-content {
    padding: 5% 0 0 4%;
  }
  .previous-comments .social-item {
    position: initial;
    transform: rotate(0deg) translate(0, 0);
    padding: 20px 0 0 15px;
  }

  .division-box {
    padding: 23px 0;
  }
  .division-box .division-img::before {
    background-size: 65%;
    top: 60px;
    right: -36px;
    height: 500px;
    width: 580px;
  }

  .division-box.graduate-box .divsion-content {
    margin-top: 20px;
  }
  .division-box.graduate-box .divsion-content p br {
    display: none;
  }
  .division-box.graduate-box .divsion-content h3 {
    font-size: 1.55rem;
  }

  .remember-dates-area .remember-dates-are-in h1 {
    font-size: 2rem;
    text-align: center;
  }
  .remember-dates-area .graduation-ceremony {
    padding: 5% 4% !important;
  }
  .remember-dates-area .graduation-ceremony h2 {
    font-size: 1.5rem !important;
  }
  .remember-dates-area .graduation-ceremony h4 {
    font-size: 1.2rem !important;
  }
  .remember-dates-area .graduation-ceremony .ceremony-list {
    width: 100% !important;
  }
  .remember-dates-area .cermony-img-parent {
    position: initial !important;
  }
  .remember-dates-area .cermony-img-parent .cermony-img {
    display: none;
  }
  .remember-dates-area .cermony-img-parent .cermony-img::before {
    display: none;
  }

  .next-genration .sec-heading {
    padding-bottom: 20px;
  }
  .next-genration .sec-heading h1 {
    font-size: 2rem;
  }
  .next-genration .coomon-responsove-slider {
    margin: 0;
  }
  .next-genration .generation-box-parent {
    width: 100%;
  }
  .next-genration .generation-box-parent .generation-box {
    margin-bottom: 15px;
  }
  .next-genration .generation-box-parent .generation-box::before {
    display: none;
  }
  .next-genration .generation-box-parent .generation-box .gene-content {
    padding: 10px 18px 8px;
  }
  .next-genration .generation-box-parent .generation-box .gene-content p {
    padding-top: 0px;
  }
  .next-genration .generation-box-parent .generation-box .gene-content h3 {
    margin: 0;
  }

  .inner-banner {
    padding: 94px 0;
  }
  .inner-banner .iner-baner--content h1 {
    font-size: 55px;
    line-height: initial;
  }
  .inner-banner .iner-baner--content h1 span {
    font-size: 36px;
  }

  .sec-heading p {
    font-size: 1.1rem;
  }
  .sec-heading p br {
    display: none;
  }

  .full-menu .overlay ul li a {
    font-size: 2rem;
  }
  .full-menu .overlay .covi-btn {
    margin-right: 21px;
  }

  .graduation-miles-banner .banner-cont-grad {
    justify-content: center;
  }
  .graduation-miles-banner .banner-cont-grad .banner-title {
    font-size: 47px !important;
    line-height: 53px !important;
  }

  .graduation-miles-banner.conv-spea-banner .banner-cont-grad {
    justify-content: flex-start;
    padding-bottom: 14px;
  }

  .graduation-para h5 {
    font-size: 0.75rem;
  }
  .graduation-para .miles-count::after {
    display: none;
  }
  .graduation-para .padb-set {
    padding-bottom: 45px;
    padding-top: 0;
  }
  .graduation-para strong {
    font-size: 13px;
  }
  .graduation-para .program-box {
    padding: 5px 10px;
  }
  .graduation-para h1 {
    font-size: 56px;
    line-height: 33px;
  }

  .padtb-set {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .registaion-form-area .rgist-box.anthem-box {
    padding: 0 0;
  }
  .registaion-form-area .rgist-box.anthem-box::after {
    bottom: -1px;
    right: 0;
    background-size: 23%;
  }

  .announcement-area .anoun-list-item {
    flex-direction: column;
  }
  .announcement-area .anoun-list-item .anoun-cont-iner {
    width: 100%;
  }
  .announcement-area .anoun-list-item .anoun-cont-iner .anoun-item-content {
    margin-left: 25px;
  }
  .announcement-area .anoun-list-item .detail-btn {
    display: flex;
  }
  .announcement-area .anoun-list-item .detail-btn .cooming-soon-btn {
    width: 151px;
    margin-right: 10px;
  }

  .registaion-form-area.regalia .rgist-box {
    margin-right: 0;
  }
  .registaion-form-area.regalia .rgist-box::before {
    display: none;
  }
  .registaion-form-area.regalia .rgist-box::after {
    right: -10px;
  }

  .owl-carousel {
    margin: 0 !important;
  }

  .registaion-form-area.award-graduation .rgist-box .madel-btch {
    width: 16%;
    right: 5px;
  }

  .registaion-form-area.award-graduation .brder-around {
    width: 86%;
    left: 20px;
    height: 92%;
    top: 0;
  }
  .registaion-form-area.award-graduation .rgist-box .cropped-icon {
    width: auto;
  }
  .registaion-form-area.award-graduation .owl-stage {
    padding-bottom: 40px;
  }
}
@media (max-width: 575px) {
  .main-slider .slider-item .slider-img {
    display: none;
  }
  .main-slider .slider-item .res-slid {
    display: block;
  }

  .side-main-nav {
    padding: 2% 4% 2% !important;
  }
  .side-main-nav .logo img {
    width: 23%;
  }

  .previous-comments .previous-left {
    padding: 17px 14% 25px;
    margin: 0 10%;
    align-items: flex-start;
  }
  .previous-comments .previous-left .convo-head-lsm.convo-head-lg {
    font-size: 57px !important;
    line-height: 55px;
  }
  .previous-comments .previous-left .convo-head-md {
    font-size: 2.2rem;
  }
  .previous-comments .previous-left .play-icon {
    bottom: 33px;
    right: 105px;
  }
  .previous-comments .previous-left .play-icon img {
    width: 72%;
  }
  .previous-comments .social-item {
    display: none;
  }

  .division-box .division-img {
    display: flex;
    justify-content: center;
  }
  .division-box .division-img::before {
    display: none;
  }
  .division-box .division-img img {
    width: auto;
  }

  .next-genration .sec-heading {
    padding-bottom: 20px;
  }
  .next-genration .sec-heading h1 {
    font-size: 2rem;
  }
  .next-genration .coomon-responsove-slider {
    margin: 0;
  }
  .next-genration .generation-box-parent {
    width: 100%;
  }
  .next-genration .generation-box-parent .generation-box {
    margin-bottom: 0;
  }
  .next-genration .generation-box-parent .generation-box::before {
    display: none;
  }
  .next-genration .generation-box-parent .generation-box .gene-content {
    padding: 0 16px 16px;
  }
  .next-genration .generation-box-parent .generation-box .gene-content p {
    padding-top: 0;
    line-height: 22px;
  }
  .next-genration .generation-box-parent .generation-box .gene-content h3 {
    font-size: 1.25rem;
    margin: 0;
  }

  .division-box.graduate-box .divsion-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inner-banner {
    padding: 54px 0;
  }
  .inner-banner .iner-baner--content h1 {
    font-size: 45px;
  }
  .inner-banner .iner-baner--content h1 span {
    font-size: 27px;
  }

  .sec-heading h1 {
    font-size: 2rem;
  }
  .sec-heading p {
    font-size: 1rem;
  }
  .sec-heading p br {
    display: none;
  }

  .padt-set {
    padding-top: 52px;
    padding-bottom: 0;
  }

  .padb-set {
    padding-bottom: 52px;
    padding-top: 0;
  }

  .padtb-set {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  .inner-pages-wraper .division-box .col-lg-6 {
    justify-content: center;
  }

  .fl-di-co-re {
    flex-direction: column-reverse;
  }

  .graduation-para strong {
    font-size: 12px;
  }
  .graduation-para .program-box {
    padding: 5px 7px;
    height: 38px;
  }

  .graduation-miles-banner.registraion-banner .banner-cont-grad .banner-title {
    font-size: 33px;
    line-height: 53px;
  }
  .graduation-miles-banner.registraion-banner .banner-cont-grad .banner-title span {
    display: inline;
  }

  .registaion-form-area.award-graduation {
    padding: 28px 0 70px;
  }
  .registaion-form-area.award-graduation .brder-around {
    display: none;
  }
  .registaion-form-area.award-graduation .rgist-box {
    left: 0;
  }
  .registaion-form-area.award-graduation .rgist-box h4 {
    padding-right: 20%;
  }
  .registaion-form-area.award-graduation .rgist-box h4 br {
    display: none;
  }
  .registaion-form-area.award-graduation .rgist-box p {
    padding-right: 12%;
  }
  .registaion-form-area.award-graduation .rgist-box p br {
    display: none;
  }
  .registaion-form-area.award-graduation .rgist-box .cropped-icon {
    width: auto;
  }

  section.insta-feed-area {
    padding: 20px 0 40px;
  }

  header.full-menu:after {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 9;
  }

  header.full-menu {
    position: relative;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
  html p {
    font-size: 1.2rem !important;
  }

  .main-slider .slider-item .play-icon-box {
    width: 69px;
    height: 69px;
  }
  .main-slider .slider-item .play-icon-box img {
    width: 55%;
  }

  .side-main-nav {
    padding: 2% 4% 2% !important;
  }

  .previous-comments .previous-left {
    padding: 17px 8% 25px;
  }
  .previous-comments .previous-left .convo-head-lsm.convo-head-lg {
    font-size: 54px !important;
    line-height: 54px;
  }
  .previous-comments .previous-left .play-icon {
    bottom: 11px;
    right: 43px;
  }
  .previous-comments .previous-left .play-icon s img {
    width: 71%;
  }
  .previous-comments .previous-comments-content p {
    line-height: 23px;
  }
  .previous-comments .previous-comments-content .year-abstracts li a {
    font-size: 1.25rem;
  }
  .previous-comments .previous-comments-content .year-abstracts li a::after {
    width: 100%;
  }
  .division-box .division-img img {
    width: 100% !important;
  }

  .inner-banner {
    padding: 54px 0;
  }
  .inner-banner .iner-baner--content h1 {
    font-size: 35px;
  }
  .inner-banner .iner-baner--content h1 span {
    font-size: 23px;
  }

  .full-menu .overlay ul li a {
    font-size: 1.5rem;
  }

  .graduation-para .program-box {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .graduation-miles-banner.registraion-banner .banner-cont-grad .banner-title {
    font-size: 41px !important;
    line-height: 45px !important;
  }

  .para-area .sec-heading {
    padding: 30px 0 0;
  }

  .registaion-form-area {
    padding: 40px 0 0;
  }

  .announcement-area .anoun-list-item {
    flex-direction: column;
  }
  .announcement-area .anoun-list-item .anoun-cont-iner {
    flex-direction: column;
    text-align: center;
  }
  .announcement-area .anoun-list-item .anoun-cont-iner .anoun-item-content {
    margin-left: 0;
    margin-top: 10px;
  }
  .announcement-area .anoun-list-item .detail-btn {
    display: flex;
    flex-direction: column;
  }
  .announcement-area .anoun-list-item .detail-btn .cooming-soon-btn {
    width: 151px;
    margin-right: 10px;
  }

  .graduation-events .row:nth-child(2) .event-gradu-boxes .event-box span, .graduation-events .row:nth-child(3) .event-gradu-boxes .event-box span {
    width: 100%;
  }
  .graduation-events .event-gradu-boxes .event-box {
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid #5d2468;
    margin-bottom: 10px;
  }
  .graduation-events .event-gradu-boxes .event-box span {
    width: 100%;
    padding: 10px 0;
  }
}
@media (max-width: 320px) {
  .side-main-nav {
    padding: 7% 7% 7%;
  }

  .previous-comments .previous-left {
    padding: 4px 4% 18px;
  }
  .previous-comments .previous-left .convo-head-md {
    font-size: 2.1rem;
    padding-bottom: 0px;
  }
  .previous-comments .previous-left .convo-head-lsm.convo-head-lg {
    font-size: 44px !important;
    line-height: 44px;
  }
  .previous-comments .previous-left .play-icon {
    right: 22px;
  }
  .graduation-miles-banner .banner-cont-grad .banner-title {
    font-size: 22px;
  }

  .full-menu .button_container {
    top: 3%;
  }
  .full-menu .overlay .covi-btn {
    margin-top: 10px;
    margin-right: 11px;
  }

  .registaion-form-area.award-graduation .rgist-box p {
    padding-right: 0%;
  }
  .registaion-form-area.award-graduation .rgist-box h4 {
    padding-right: 12%;
  }
}

/*# sourceMappingURL=breakpoints.css.map */
