@import "../css/mixin.scss";
@import "../css/variables.scss";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    scroll-behavior: smooth;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
    a{
        text-decoration: none !important;
    }
    p,ul{
        margin: 0 !important;
    }

// Section Headings
    .sec-heading{
        text-align: center;
        padding-bottom: 50px;
        h1{
            @include HeadingCommons($Bold, $theme-color-dark);
            font-size: $h1;
        }
        h5{
           color: $theme-color-dark;
           font-size: $h5;
        }
    }
// Section Headings
.br-r{
    border-right: $br-1;
}
.br-t{
    border-top: $br-1;
}
.br-b{
    border-bottom: $br-1;
}
.br-l{
    border-left: $br-1;
}
// Left Side Menu Css


// Common Css

.owl-theme .owl-dots .owl-dot {
    outline: none;
}
.owl-theme .owl-dots .owl-dot span {
    background: #fff !important;
    border: 1px solid $theme-color-dark;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: $theme-color-dark !important;
}


.main-menu{
    padding: 0 19px;
    a{  
        @include ComonFontsStyle;
        position: relative;
        transition: all 0.5s;
        &:hover{
            font-weight: 600;
            span{
                width: 14px;
                transition: all 0.5s;
            }
        }
        span {
            width: 0px;
            height: 2.7px;
            background: $theme-color-dark;
            display: block;
            position: absolute;
            top: 40%;
            left: -17px;
            // opacity: 0;
            transition: all 0.5s;
        }
    }
    li {
        line-height: 20px;
        padding: 9px 0;
    }
}

.side-main-nav {
    padding: 10% 10% 0%;
    .covid-response {
        @include ComonFontsStyle;
        border: 1px solid $theme-color-dark;
        padding: 10px 33px;
        display: table;
        margin-top: 13px;
    }
    @include theme-btn(201px,40px,#5d2468);
}
.logo {
    padding-bottom: 31px;
    img {
        width: 50%;
    }
    /* Responsive Menu Bar Animation */
    .navbar-toggler {
        border: none;
        outline: none;
        padding: 0;
        #nav-icon3{
          width: 34px;
          height: 21px;
          position: relative;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
          cursor: pointer;
        }
        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 77%;
            background: #602567;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2),&:nth-child(3){
                top: 8px;
            }
            &:nth-child(4) {
                top: 17px;
            }
        }
        #nav-icon3.open{
            span{
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
    /* Responsive Menu Bar Animation */
}

// Left Side Menu Css


// Right Main Slider
.main-slider{
    .slider-item{
        position: relative;
        @include play-icon($top:50% , $left:50%);
        .slider-imgg{
            display: block;
        }
        .res-slid{
            display: none;
        }
    }
    .owl-nav{
        position: relative;
        right: 20px;
        bottom: 16px;
        margin: 0 !important;
       button{
            position: absolute;
            bottom: 0;
            right: 0;
       }
       .owl-prev {
            right: 58px !important;
       }
    }
    
}
// Right Main Slider

// Previouse Comments
.previous-comments{
    position: relative;
    // Previcouse Left
    .previous-left {   
        // @include FlexColumnXYCenter;
        @include FlexDirAligJus($d-flex, $fl-di-co, $al-it-ce, $ju-co-ce);
        background: #5d2468;
        padding: 27px 0 65px;
        overflow: hidden;
        .play-icon {
            position: absolute;
            bottom: 23px;
            right: 23px;
        }
        .convo-head-md{
            color: #5d2468;
            -webkit-text-fill-color: #5d2468;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: #fff;
            text-align: center;
            padding-bottom: 11px;
            font-size: 3.7rem;
            span{
                display: block;
                -webkit-text-fill-color: $white; /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: $white;
                text-align: right;
                font-size: 18px;
            }
        }
        .convo-head-lg {
            font-weight: $Bold;
            color: $theme-color-light;
            font-size: 100px !important;
            line-height: 85px;
            margin: 0;
            .sperator {
                display: flex;
            }
        }
    }
    // Previcouse Left
    
    // Previcouse Conetent
    .previous-comments-content{
        padding: $p8 0 0 $p8;
        h3{
            @include HeadingCommons($Bold, $theme-color-dark);
            font-size: $h3;
        }
        p{
            @include CommonPara;
        }
        .year-abstracts{
            display: $d-flex;
            padding-top: 20px;
            li{
                margin-right:23px;
                a{
                    @include ComonFontsStyle;
                    font-weight: 600;
                    // border-bottom: 2px solid $theme-color-light;
                    line-height: 30px;
                    padding-bottom: 3px;
                    transition: 0.5s;
                    position: relative;
                    &:hover{
                        &:after{
                            width: 100%;
                            transition: 0.5s;
                        }
                    }
                    &:after{
                        position: absolute;
                        bottom: 0px;
                        height: 2px;
                        width: 0%;
                        content: "";
                        transform-origin: center;
                        background-color: #5d2468;
                        left: 0%;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    // Previcouse Conetent
    
    // Socail Item
    .social-item{
        position: absolute;
        right: 0;
        transform: rotate(270deg) translate(-50%, 60px);
        top: 50%;
        ul{
            display: flex;
            li{
                list-style-type: none;
                margin-right: 15px;
                a{
                    @include ComonFontsStyle;
                    i{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    // Socail Item
}
// Previouse Comments

// Division Box
.division-box{
    padding: 123px 0;
    .col-lg-6{
        // @include FlexYCenter;
        @include FlexDirAligJus($d-flex, $fl-di-ro, $al-it-ce, $ju-co-st);
    }
    .divsion-content{
        h3{
            @include HeadingCommons($Bold, $theme-color-dark);
            font-size: $h3;

        }
        .pad-para{
            padding: 7px 0 13px;
        }
        p{
            @include CommonPara;
        }
    }
    .division-img{
        position: relative;
        &::before{
            background-image: url(../img/hu-icon.svg);
            background-size: 95%;
            background-repeat: no-repeat;
            height: 760px;
            width: 770px;
            top: -120px;
            right: 184px;
            @include BeforeCoomon;
        }
        img{
            width: 100%;
        }
    }
}
// Division Box



// Next Generation
.next-genration{
    padding: 25px 0;
    .generation-box-parent{
        width: 45%;
        .generation-box {
            position: relative;
            cursor: pointer;
            margin-bottom: 93px;
            &::before{
                @include BeforeCoomon;
                @include FullArea;
                border: 2px solid $theme-color-dark;
                top: 23px;
                right: 23px;
                z-index: -1;
                transition: all 0.5s;
            }
            &:hover{
                &::before{
                    top: 0;
                    right: 0;  
                }
            }
            img {
                width: 100%;
            }
            .gene-content {
                // @include FlexColumnYEnd;
                @include FlexDirAligJus($d-flex, $fl-di-co, $al-it-st, $ju-co-en);
                position: absolute;
                top: 0;
                @include FullArea;
                padding: 0 32px 32px;
                p{
                    @include CommonPara;
                    color: $white;
                    // padding-top: 10px;
                }
                h3{
                   color: $white;
                   font-weight: $Bold;
                   font-size: $h3;
                }
                h5{
                   color: $white;
                   font-size: $h5;
                   margin: 0;
                }
            }
            
        }
    }
}
// Next Generation


// Graduate Box
.graduate-box{
    .division-img{
        &::before{
            display: none;
        }
    }
    .divsion-content {
        @include theme-btn(160px , 40px, #5d2468);
    }
}
// Graduate Box

// Remember Dates Area
.remember-dates-area{
    .remember-dates-are-in{
        position: relative;
        h1{
            @include HeadingCommons($Bold, $theme-color-dark);
            font-size: $h1;
            text-align: right;
            span{
                font-weight: 400;
                display: block;
            }
        }
        .graduation-ceremony{
            background-image: url(../img/remember-dates-bg-image.png);
            background-repeat: no-repeat;
            background-size: cover;
            padding: $p5 $p9;
            h2{
                @include HeadingCommons($Bold, $theme-color-dark);
                font-size: $h2;
            }
            h4{
                @include HeadingCommons($Bold, $white);
                font-size: $h4;
            }
            .ceremony-list{
                width: 70%;
                padding-top: 10px;
                li{
                    // @include FlexXBetween;
                    @include FlexDirAligJus($d-flex, $fl-di-ro, $al-it-st, $ju-co-be);
                    color: $white;
                    padding-bottom: 17px;
                    span{
                        width: 30%;
                    }
                }
            }
            // .see-details {
            //     border: 2px solid #fff;
            //     color: #fff;
            //     padding: 6px 22px;
            //     display: table;
            //     font-weight: 500;
            //     font-size: 1rem;
            // }
            @include theme-btn(127px , 40px , $white)
        }
        .cermony-img-parent{
            position: absolute;
            right: 35px;
            bottom: -85px;
            .cermony-img{
                &::before{
                    @include BeforeCoomon;
                    @include FullArea;
                    border: 2px solid #5d2468;
                    left: 23px;
                    z-index: -1;
                    bottom: 35px;
                }
            }

        }
    }
}
// Remember Dates Area


// Insta Feeds
section.insta-feed-area {
    padding: 130px 0 40px;
    overflow: hidden
}
// Insta Feeds


// Footer
footer{
    padding-bottom: 15px;
    .footer-inner{
        // @include FlexColumnXYCenter;
        @include FlexDirAligJus($d-flex, $fl-di-co, $al-it-ce, $ju-co-ce);
        ul{
            display: flex;
            margin: 10px 0 10px !important;
            li{
                margin-right: 15px;
            }
        }
        .fol-para{
            font-weight: $Medium;
        }
        .copy-right{
            color: $theme-color-dark;
        }
    }
}

// Footer



// Convocation 2018

// Header Full Page Menu
.full-menu{

    $color-background: #F5F5F5;
    $color-main: $theme-color-dark;
    $color-active: $white;
    $color-link: $white;
    
    $button-height: 27px;
    $button-width: 35px;
    
    

    
  
    .button_container {
        position: fixed;
        top: 2%;
        left: 2%;
        height: 37px;
        width: 42px;
        cursor: pointer;
        z-index: 9999;
        transition: opacity 0.25s ease;
        display: flex;
        justify-content: space-between;
        border: 6px solid $theme-color-dark;
        background: $theme-color-dark;
        box-shadow: 0 0 6px 0px #ffffff80;
      &:hover {
        opacity: .7;
      }
      
      &.active {
        .top {
          transform: translateY(11px) translateX(0) rotate(45deg);
          background: $color-active;
        }
        .middle {
          opacity: 0;
          background: $color-active;
        }
        
        .bottom {
          transform: translateY(-11px) translateX(0) rotate(-45deg);
          background: $color-active;
        }
      }
   
       
    
      
      span {
        background: #fff;
        border: none;
        height: 3px;
        width: 30px;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.35s ease;
        cursor: pointer;
        &:nth-of-type(2) {
          top: 11px;
        }
        
        &:nth-of-type(3) {
          top: 22px;
        }
      }
    }
    
    .overlay {
        position: fixed;
        background: #5d2468;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        z-index: 999;
        .covi-btn{
            @include theme-btn(201px,40px,#fff);
            margin-left: auto;
            margin-right: 42px;
            display: table;
            margin-top: 25px;
            img{
                filter: brightness(0) invert(1);
            }
            a{
                z-index: 999;
                position: relative;
            }
        }
        
      
      &.open {
        opacity: 1;
        visibility: visible;
        height: 100%;
        
        li {
          animation: fadeInRight .5s ease forwards;
          animation-delay: .35s;
          display: flex;
          justify-content: center;
          
          &:nth-of-type(2) {
            animation-delay: .4s;
          }
          &:nth-of-type(3) {
            animation-delay: .45s;
          }
          &:nth-of-type(4) {
            animation-delay: .50s;
          }
          &:nth-of-type(5) {
            animation-delay: .55s;
          }
          &:nth-of-type(6) {
            animation-delay: .6s;
          }
          &:nth-of-type(7) {
            animation-delay: .65s;
          }
        }
      }
      &::before{
            content: "";
            background-image: url(../img/icon-for-menu.svg);
            width: 100%;
            height: 100%;
            background-position: bottom right;
            bottom: 0;
            right: 0;
            position: absolute;
            background-repeat: no-repeat;
            background-size: 23%;
            pointer-events: none;
      }
      nav {
        position: relative;
        height: 100%;
        top: 36%;
        transform: translateY(-50%);
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        
        li {
          display: block;
        //   height: 25%;
        //   height: calc(100% / 4);
          min-height: 50px;
          position: relative;
          opacity: 0;
          padding: 7px 0;
          
          a {
            display: table;
            position: relative;
            color: $color-link;
            text-decoration: none;
            overflow: hidden;
            font-size: 2.7rem;
            span{
                display: block;
                -webkit-transition: -webkit-transform 0.2s;
                transition: transform 0.2s;
                transform-origin: 0% 0%;
                font-weight: 800;
                letter-spacing: 2px;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #fff;
                -webkit-text-fill-color: transparent;
                &::before{
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    left: 0;
                    content: attr(data-hover);
                    transition: all 0.5s;
                }
            }
            &:hover{
                span{
                    transform: translateY(-100%);
                    transform-origin: 0% 0%;
                    display: table;  
                    transition: all 0.5s;
                    -webkit-text-fill-color: #fff;
                }
            }
          }
        }
      }
    }
    
    @keyframes fadeInRight {
      0% {
        opacity: 0;
        left: 20%;
      }
      100% {
        opacity: 1;
        left: 0;
      }
    }
}


// Header Full Page Menu



.support{
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	display: flex;
	a{
		margin: 0 10px;
		color: #333333;
		font-size: 1.8rem;
		backface-visibility: hidden;
		transition: all 150ms ease;
		&:hover{
			transform: scale(1.1);
		}
	}

}
.inner-banner{
    @include bg-props;
    padding: 234px 0;
    .iner-baner--content{
        // @include FlexXCenter;
        @include FlexDirAligJus($d-flex, $fl-di-co, $al-it-ce, $ju-co-ce);
        h1{
            @include HeadingCommons($Bold, $white);
            // @include FlexColumnXEnd;
            @include FlexDirAligJus($d-flex, $fl-di-co, $al-it-en, $ju-co-st);
            text-align: center;
            font-size: $in-baner-h1;
            span{
                @include HeadingCommons($Bold, $white);
               display: block;
               font-size: $in-baner-spn;
            }
        }
    }
}




// Inner Video
.inner-pages-wraper{
    padding-top: 50px;
    .main-iner-video {
        .video-banner{
            @include play-icon($top:50% , $left:50%);
            img{
                width: 100%;
            }
        }
    }
}
// Inner Video



.padt-set{
    padding-top: 75px;
    padding-bottom: 0;
}
.padb-set{
    padding-bottom: 75px;
    padding-top: 0;
}
.padtb-set{
    padding-top: 75px;
    padding-bottom: 75px;
}
.inner-pages-wraper{
    .division-box {
        // padding: 75px 0;
        .divsion-content{
            h5{
                font-size: $h5;
                @include HeadingCommons($Medium, $theme-color-dark)
            }
            h6{
                font-size: $h6;
                @include HeadingCommons($Medium, $theme-color-dark)
            }
        }
        .division-img{
            @include play-icon;
        }
    }
}

.para-area{
    .sec-heading{
        padding: 50px 0 0;
    }
}


// Convocation 2018


// Convocation 2021
.previous-comments.comment-21{
    
    .previous-left {
        .convo-head-lg {
            font-size: 80px !important;
            line-height: 73px;
        }
    }
} 
// Convocation 2021


// Graduation Miles Page
.graduation-miles-banner{
    padding-top: 83px;
    .banner-cont-grad{
        @include FlexDirAligJus($d-flex, $fl-di-ro, $al-it-ce, $ju-co-st);
        height: 100%;
        .banner-title{
            @include HeadingCommons($Light, $theme-color-dark);
            font-size: $in-baner-h1 - 14px ;
            line-height: 75px;
            span{
                font-weight: $Bold;
                display: block;
            }
        }
    }
    .set-banner-rght-img{
        position: relative;
        @include play-icon($top:50% , $left:50%);
    }
}


.graduation-para{
        h4{
            @include HeadingCommons($SemiBold,);
            font-size: $h4;
        }
        h5{
            @include HeadingCommons($SemiBold,$white);
            font-size: $h5;
            text-align: center;
            margin: 0;
        }
        p{
            @include CommonPara;
        }
        strong{
            @include HeadingCommons($Bold,$theme-color-dark);
        }
        .major{
            @include HeadingCommons($Bold,$theme-color-dark);
            text-align: center;
            display: block;
        }
        h1{
            @include HeadingCommons;
            font-size: $in-baner-h1;
            line-height: 60px;
        }
        .miles-count{
            position: relative;
            &::after {
                content: "";
                width: 75px;
                height: 3px;
                background: #5d2468;
                position: absolute;
                right: -13px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .miles-content {
            position: relative;
            top: 15px;
        }
        .prog-title{
            background-color: $theme-color-dark;
        }
        .program-box {
            padding: 11px 10px;
            transition: all .5s;
        }

}
// Graduation Miles Page




// Registration Page
.registaion-form-area{
    padding: 63px 0 0;
    .rgist-box {
        @include FlexDirAligJus($d-flex,$fl-di-co,$al-it-ce,$ju-co-ce);
        box-shadow: 0 0 5px 0px #ccc;
        text-align: center;
        margin-bottom: 60px;
        height: 214px;
        padding: 0 40px;
        overflow: hidden;
        position: relative;
        p{
            @include CommonPara(18px, $theme-color-dark ,25px);
        }
        .regis-view{
            border: $br-1;
            color: $theme-color-dark;
            padding: 4px 30px;
            display: table;
            margin: 13px auto;
            font-size: 16px;
        }
        @include HabibIcon($pos:absolute,$w: 100%, $h: 100% , $btm: -32px, $rgt:-30px, $bg: url(../img/registraion/box-icon.svg), $bg-pos:right bottom);
    }
    .rgist-box.anthem-box {
        height: auto;
        overflow: initial;
        box-shadow: 0 0 0px 0px transparent;
        &::after{
            bottom: -12px;
            right: 41px;
        }
    }   
}
// Registration Page


// Convocation Speaker Page 




//Graduation Awards
.inner-banner.awards-banner{
    @include bg-props;
    h1{
        font-weight: 300;
        line-height: 81px;
        justify-content: center;
        align-items: center;
        span{
            font-size: 85px;
        }
    }
    
}


// Award Graduation Page
.registaion-form-area.award-graduation {
    padding: 63px 0 70px;
    .brder-around{
        border: 2px solid #5d2468;
        width: 85%;
        position: absolute;
        top: -2px;
        left: 13px;
        height: 92%;
    }
    .rgist-box{
        height: calc(100% + 10px);
        text-align: left;
        align-items: flex-start;
        padding: 62px 17px 51px;
        background: #fff;
        position: relative;
        top: 23px;
        left: 23px;
        margin-right: 25px;
        transition: all 0.5s;
        cursor: pointer;
        margin-bottom: 0;
        justify-content: flex-start;
        &::after{
             display: none;
        }
        // &:hover{
        //     top: 0;
        //     left: 0;
        // }
        h4{
            @include HeadingCommons;
            font-size: $h4;
            line-height: 30px;
        }
        .madel-btch {
            position: absolute;
            top: 0;
            right: 13px;
        }
        .cropped-icon {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        p{
            font-size: $p;
        }
    }
}
// Award Graduation Page


// Regalias Page
.registaion-form-area.regalia {
    padding: 63px 0 60px;
    .rgist-box{
        height: auto;
        padding: 0 0 30px;
        overflow: initial;
        background: #fff;
        margin-right: 40px;
        @include BorderAround($pos:absolute,$w: 100%, $h: 100% , $top: -23px, $rgt:23px);
        &::after{
            background-size: 27%;
        }
    }
    h3{
        @include HeadingCommons;
        font-size: $h3;
        margin-top: 15px;
    }
}
// Regalias Page




// Convocation AnnouncementPage
.announcement-area{
    .search-anouncement{
        input {
            border-radius: 0;
            border-color: $theme-color-dark;
            &::placeholder{
                font-size: 15px;
                color:$theme-color-dark;
            }
        }
        .input-group-text{
            border-radius: 0;
            background-color: $theme-color-dark;
            color: $white;
            border-color: $theme-color-dark;
        }
    }
    padding: 60px 0;
    .anoun-list-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #888;
        padding: 23px 0;
        &:first-child{
            border-top: 1px solid #888;
        }
        .anoun-cont-iner{
            display: flex;
            width: 64%;
            align-items: center;
            .anoun-item-content{
                margin-left: 53px;
                h3{
                    @include HeadingCommons;
                }
                p{
                    @include CommonPara;
                }
            }
        }
        .detail-btn{
            @include theme-btn(201px,40px,#5d2468);
        }
    }
}
// Convocation AnnouncementPage


// Event Page
.shedule-heading{
    @include HeadingCommons;
    padding: 80px 0;
}
.graduation-events{
    padding: 25px 0 25px;
    h2{
        @include HeadingCommons;
        padding-bottom: 10px;
        margin: 0;
    }
    .row{
        padding: 25px 0;
    }
    .row:nth-child(1){
        border-bottom: 1px solid $theme-color-dark;
    }
    .event-gradu-boxes{
        .event-box {
            display: flex;
            justify-content: space-between;
            span {
                padding: 15px 0;
                font-size: 16px;
                font-weight: 600;
                color: $theme-color-dark;
                width: 30%;
            }
        }
    }
    .row:nth-child(2), .row:nth-child(3){
        .event-gradu-boxes{
            .event-box{
                span{
                    width: 45%;
                }
            }
        }
    }
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent !important;
}