@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body{
  background-image: url(../img/bg-convaction.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

section.convo-evnt-wrapper {display: flex;flex-direction: column;align-items: center;text-align: center;}

.timmer-inner .timer-top {
  display: flex;
  
padding: 0;justify-content: center;}
.logo {
  margin-top: 32px;
}
.timmer-inner .timer-top li:first-child {padding-right: 11px;}
.timmer-inner .timer-top li {
  
  position: relative;
  display: flex;
  align-items: center;
}
.timmer-inner .timer-top li:last-child::after {
  display: none;
}
/* .timmer-inner .timer-top li::after {
  position: absolute;
  width: 1px;
  content: "";
  top: 48%;
  height: 71px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  right: 13px;
} */
.timmer-inner .timer-top li h1 {
  font-size: 62px;
  font-weight: 700;
  padding-top: 10px;
  color: #fff;
margin: 0;}
.timmer-inner .timer-top li h1 sup {
  top: -22px !important;
  text-transform: uppercase;
  font-size: 31px;
}
.timmer-inner .timer-top li h1 span {
  display: block;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  right: -48px;
  top: -33px;
}
.timmer-inner .timer-top li p {
  font-size: 35px;
  color: #fff;
  text-align: right;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
margin-bottom: 10px;margin-top: 10px;}
.timmer-inner .timer-top li p strong {
  display: block;
  font-size: 25px;
}
.timmer-inner .flip-timer {
  padding: 6px 0 0 0;
}
.timmer-inner .flip-timer #custom-timer {
  display: flex;
}
.timmer-inner .flip-timer #custom-timer .timer-box {
  margin-right: 60px;
}
.timmer-inner .flip-timer #custom-timer .timer-box:last-child {
  margin-right: 0px;
}
.timmer-inner .flip-timer #custom-timer .timer-box:last-child .timer-time:after {
  display: none;
}
.timmer-inner .flip-timer #custom-timer .timer-box span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timmer-inner .flip-timer #custom-timer .timer-box .timer-time {
  color: #fff;
  font-weight: 700;
  width: 50px;
  height: 31px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
  position: relative;
}
.timmer-inner .flip-timer #custom-timer .timer-box .timer-time:after {
  position: absolute;
  top: 49%;
  right: -32px;
  transform: translateY(-50%);
  content: ":";
  font-size: 30px;
}
.timmer-inner .flip-timer #custom-timer .timer-box .timer-text {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}
.logo img {
  width: 244px;
}
.qr-code {
  margin-top: 7px;
}
.qr-code img {
  width: 153px;
}
.qr-code h4 {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
margin-bottom: 10px;margin-top: 10px;}
.qr-code p{
  color: #fff;
margin: 0;}




/* Particle Animation */

@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}
@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}
@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }
  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}


.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: -1;
  opacity: 0.5;
}

.confetti {
  position: absolute;
  z-index: 1;
  border-radius: 0%;
}
.confetti--animation-slow {
  animation: confetti-slow 2.25s linear 1 forwards;
}
.confetti--animation-medium {
  animation: confetti-medium 1.75s linear 1 forwards;
}
.confetti--animation-fast {
  animation: confetti-fast 1.25s linear 1 forwards;
}

/* Checkmark */
.checkmark-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

.checkmark-circle .background {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #00C09D;
  position: absolute;
}

.checkmark-circle .checkmark {
  border-radius: 5px;
}

.checkmark-circle .checkmark.draw:after {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  animation-delay: 100ms;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: checkmark;
  -moz-animation-name: checkmark;
  animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -o-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.checkmark-circle .checkmark:after {
  opacity: 1;
  height: 75px;
  width: 37.5px;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  border-right: 15px solid white;
  border-top: 15px solid white;
  border-radius: 2.5px !important;
  content: "";
  left: 25px;
  top: 75px;
  position: absolute;
}

@-webkit-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@-moz-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
.submit-btn {
  height: 45px;
  width: 200px;
  font-size: 15px;
  background-color: #00c09d;
  border: 1px solid #00ab8c;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
  cursor: pointer;
  transition: all 2s ease-out;
  transition: all 0.2s ease-out;
}

.submit-btn:hover {
  background-color: #2ca893;
  transition: all 0.2s ease-out;
}
.donation-celebration{
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.donation-content {
  color: #b27711;
  font-weight: var(--font700);
  display: flex;
  flex-direction: column;
}

.donator-name {
  font-size: 32px !important;
}

.donator-name span {
  display: block;
  font-size: 23px;
}

.donation-recieve {
  font-size: 62px !important;
  margin-top: 15px;
}
/* Particle Animation */
